<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content" class="sb-nav-fixed">
    <link rel="stylesheet" href="/css/game/add.css"/>
    <!--<div th:replace="~{각페이지에맞는사이드바파일경로::sidebar}"></div>-->
    <div id="layoutSidenav">
        <div th:replace="~{/game/gameSidebar::sidebar}"></div>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"></script>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <h1 class="mt-4">게임콘텐츠 등록</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item">운영마당</li>
                        <li class="breadcrumb-item active">게임콘텐츠 작성</li>
                        <li class="breadcrumb-item active">교육자료</li>
                        <li class="breadcrumb-item active">
                            <span class="fw-bold text-danger">저장</span>
                        </li>
                    </ol>
                    <div style="border: 1px solid black;" class="col-10"> <!--class에서 col-10은 빼면 안됨-->
                        <h1>Page 3</h1>
                        <!-- 표시할 데이터 -->
                        <h2>입력한 데이터 확인:</h2>
                        <p>게임 콘텐츠명: <span th:text="${gameValidation.game_name}"></span></p>
                        <p>난이도: <span th:text="${gameValidation.difficulty}"></span></p>
                        <p>구독기간: <span th:text="${gameValidation.subscription_duration}"></span></p>
                        <p>구독 인원: <span th:text="${gameValidation.max_subscribers}"></span></p>
                        <p>정가: <span th:text="${gameValidation.original_price}"></span></p>
                        <p>할인율: <span th:text="${gameValidation.discount_rate}"></span></p>
                        <p>판매가: <span th:text="${gameValidation.sale_price}"></span></p>
                        <p>패키지 내용: <span th:text="${gameValidation.package_details}"></span></p>

                        <p>업로드 파일 :</p>
                        <h2>업로드한 파일 목록:</h2>
                        <ul>
                            <li th:each="fileName : ${originFileNames}">
                                <p th:text="${fileName}"></p>
                            </li>
                        </ul>
                        <form action="/game/save" method="post" enctype="multipart/form-data">
                        <div class="nado-gameprice">
                            <!-- 정가 -->
                            <div class="mb-3 row">
                                <label for="original_price" class="col-sm-2 col-form-label">정가</label>
                                <div class="col-sm-7">
                                    <input type="text" th:field="*{original_price}" class="form-control" id="original_price" oninput="addCommas(this)">
                                    <span th:if="${#fields.hasErrors('original_price')}" th:errors="*{original_price}" class="error-message text-danger small"></span>
                                </div>
                            </div>
                            <!-- 할인율 -->
                            <div class="mb-3 row">
                                <label for="discount_rate" class="col-sm-2 col-form-label">할인율</label>
                                <div class="col-sm-7">
                                    <div class="input-group"> <!-- Input 그룹을 사용하여 입력 필드와 % 기호를 함께 표시 -->
                                        <input type="text" th:field="*{discount_rate}" class="form-control" id="discount_rate">
                                        <span class="input-group-text">%</span> <!-- Input 그룹의 추가 텍스트로 % 기호를 추가 -->
                                    </div>
                                    <small class="text-muted ms-2">적용 버튼을 눌러 판매가를 적용하세요.</small><br>
                                    <span th:if="${#fields.hasErrors('discount_rate')}" th:errors="*{discount_rate}" class="error-message text-danger small"></span>
                                </div>
                                <div class="col-sm-3">
                                    <button type="button" class="btn btn-primary" onclick="calculateSalePrice()">적용</button>
                                </div>
                            </div>
                            <!-- 판매가 -->
                            <div class="mb-3 row">
                                <label for="sale_price" class="col-sm-2 col-form-label">판매가</label>
                                <div class="col-sm-7">
                                    <input type="text" th:field="*{sale_price}" class="form-control" id="sale_price" readonly oninput="addCommas(this)" placeholder="할인율 적용시 자동 적용">
                                    <span th:if="${#fields.hasErrors('sale_price')}" th:errors="*{sale_price}" class="error-message text-danger small"></span>
                                </div>
                            </div>
                        </div>
                    <!-- 확인 버튼 -->
                        <div>
                            <input type="submit" value="확인">
                        </div>
          </form>
        </div>
      </main>
    </div>
  </div>
</div>
</html>