<!--&lt;!&ndash; 회원가입 영역 &ndash;&gt;-->
<!--<div class="tab-pane fade" id="pills-register" role="tabpanel" aria-labelledby="tab-register">-->
<!--    <form id="signUpForm"  th:action="@{/member/join}" th:object="${userCreateForm}" method="post">-->

<!--        &lt;!&ndash; start step indicators &ndash;&gt;-->
<!--        <div class="form-header d-flex mb-4">-->
<!--            <span class="stepIndicator">회원유형 선택</span>-->
<!--            <span class="stepIndicator">약관동의 및 본인인증</span>-->
<!--            <span class="stepIndicator">개인 정보 입력</span>-->
<!--        </div>-->
<!--        &lt;!&ndash; end step indicators &ndash;&gt;-->

<!--        &lt;!&ndash; step0 : 회원가입 구분&ndash;&gt;-->
<!--        <div class="step">-->
<!--            <div class="row">-->
<!--                <div class="col-12">-->

<!--                    <p class="text-center mb-4">가입 유형을 선택해주세요</p>-->
<!--                    &lt;!&ndash; 회원 구분 드롭다운 &ndash;&gt;-->
<!--                    <div class="mb-3">-->
<!--                        <label for="role" class="form-label"></label>-->
<!--                        <select class="form-select" id="role" name="role">-->
<!--                            <option value="EDUCATOR">교육자</option>-->
<!--                            <option value="STUDENT">학습자</option>-->
<!--                            <option value="NORMAL">일반인</option>-->
<!--                            <option value="ADMIN">운영자</option>-->
<!--                        </select>-->
<!--                    </div>-->
<!--                </div> &lt;!&ndash;col-12 &ndash;&gt;-->
<!--            </div> &lt;!&ndash;step0_row&ndash;&gt;-->
<!--        </div> &lt;!&ndash;step0 끝 &ndash;&gt;-->

<!--        &lt;!&ndash; step1: 약관동의 및 본인인증 &ndash;&gt;-->
<!--        <div class="step">-->
<!--            <div class="row">-->
<!--                <p class="text-center mt-4">약관에 동의해주세요</p>-->
<!--                <div class="mb-3">-->
<!--                    &lt;!&ndash; 전체 동의 &ndash;&gt;-->
<!--                    <div class="form-check">-->
<!--                        <div class="row">-->
<!--                            <div class="col-1">-->
<!--                                <input class="form-check-input" type="checkbox" id="checkAll">-->
<!--                            </div>-->
<!--                            <div class="col-11">-->
<!--                                <label class="form-check-label" for="checkAll">전체 동의</label>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; 이용 약관 &ndash;&gt;-->
<!--                    <div class="agreement form-check">-->
<!--                        <div class="row">-->
<!--                            <div class="col-1">-->
<!--                                <input class="form-check-input" type="checkbox" id="agreement1" required>-->
<!--                            </div>-->
<!--                            <div class="col-11">-->
<!--                                <label class="form-check-label" for="agreement1">이용 약관 (필수)</label>-->
<!--                                <div class="details">-->
<!--                                    <p>이용 약관 상세 내용...</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; 개인정보 필수항목에 대한 처리 및 이용 &ndash;&gt;-->
<!--                    <div class="agreement form-check">-->
<!--                        <div class="row">-->
<!--                            <div class="col-1">-->
<!--                                <input class="form-check-input" type="checkbox" id="agreement2" required>-->
<!--                            </div>-->
<!--                            <div class="col-11">-->
<!--                                <label class="form-check-label" for="agreement2">개인정보 필수항목에 대한 처리 및 이용 (필수)</label>-->
<!--                                <div class="details">-->
<!--                                    <p>개인정보 선택항목 처리 및 이용 상세 내용...</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; 개인정보 선택항목에 대한 처리 및 이용 &ndash;&gt;-->
<!--                    <div class="agreement form-check">-->
<!--                        <div class="row">-->
<!--                            <div class="col-1">-->
<!--                                <input class="form-check-input" name="privacyConsent" type="checkbox" id="agreement3">-->
<!--                            </div>-->
<!--                            <div class="col-11">-->
<!--                                <label class="form-check-label" for="agreement3">개인정보 선택항목에 대한 처리 및 이용 (선택)</label>-->
<!--                                <div class="details">-->
<!--                                    <p>개인정보 마케팅 및 광고 활용 상세 내용...</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; 개인정보 마케팅 및 광고 활용 &ndash;&gt;-->
<!--                    <div class="agreement form-check">-->
<!--                        <div class="row">-->
<!--                            <div class="col-1">-->
<!--                                <input class="form-check-input" type="checkbox" id="agreement4">-->
<!--                            </div>-->
<!--                            <div class="col-11">-->
<!--                                <label class="form-check-label" for="agreement4">개인정보 마케팅 및 광고 활용 (선택)</label>-->
<!--                                <div class="details">-->
<!--                                    <P>개인정보 마케팅 및 광고 활용 상세 내용...</P>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; 개인정보의 위탁 &ndash;&gt;-->
<!--                    <div class="agreement form-check">-->
<!--                        <div class="row">-->
<!--                            <div class="col-1">-->
<!--                                <input class="form-check-input" type="checkbox" id="agreement5" required>-->
<!--                            </div>-->
<!--                            <div class="col-11">-->
<!--                                <label class="form-check-label" for="agreement5" >개인정보의 위탁 (필수)</label>-->
<!--                                <div class="details">-->
<!--                                    <P> 개인정보의 위탁 내용...</P>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div> &lt;!&ndash;step1: row &ndash;&gt;-->
<!--                    </div>-->
<!--                </div> &lt;!&ndash; mb-3 &ndash;&gt;-->

<!--                &lt;!&ndash; 본인 인증하기 &ndash;&gt;-->
<!--                <div class="mt-4" id="authStep">-->
<!--                    <div class="authMember">-->
<!--                        <p class="text-center mb-4">인증 방식을 선택하세요 </p>-->
<!--                        &lt;!&ndash; 인증 방식 선택 라디오 버튼 &ndash;&gt;-->
<!--                        <div class="mb-3">-->
<!--                            <div class="form-check">-->
<!--                                <input class="form-check-input" type="radio" name="authMethod" id="phoneAuth" value="phone" checked>-->
<!--                                <label class="form-check-label" for="phoneAuth">휴대폰으로 인증</label>-->
<!--                            </div>-->
<!--                            <div class="form-check">-->
<!--                                <input class="form-check-input" type="radio" name="authMethod" id="emailAuth" value="email">-->
<!--                                <label class="form-check-label" for="emailAuth">이메일로 인증</label>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        &lt;!&ndash; 휴대폰 번호와 인증 버튼 &ndash;&gt;-->
<!--                        <div class="mb-3">-->
<!--                            <label for="memName" class="form-label">이름</label>-->
<!--                            <input type="text" class="form-control" placeholder="이름" name="memName" id="memName" oninput="validateName()" required />-->
<!--                            <span class="error-message" id="name-error-message"></span>-->
<!--                        </div>-->
<!--                        <div class="mb-3">-->
<!--                            <label for="to" class="form-label">휴대폰 번호</label>-->
<!--                            <input type="tel" class="form-control" name="to" placeholder="본인 휴대폰번호를 입력하세요" id="to" oninput="validatePhoneNumberAndFormat(this)" required />-->
<!--                            <span class="error-message" id="phone-error-message"></span>-->
<!--                        </div>-->
<!--                        <button class="btn btn-outline-secondary" onclick="sendVerificationCode()">발송</button>-->
<!--                    </div> &lt;!&ndash; authMember 끝 &ndash;&gt;-->
<!--                </div> &lt;!&ndash; authStep: mt-4 끝 &ndash;&gt;-->
<!--                &lt;!&ndash; 이메일로 인증하는 부분 &ndash;&gt;-->
<!--                <div id="emailVerification" class="authVerification" style="display: none;">-->
<!--                    &lt;!&ndash; 이메일로 인증받는 로직이 여기에 위치 &ndash;&gt;-->
<!--                </div>-->
<!--                &lt;!&ndash; 인증 코드 입력 폼 &ndash;&gt;-->
<!--                <div class="mt-4" id="verifyStep">-->
<!--                    <div class="authMember">-->
<!--                        <p class="text-center mb-4">인증 코드를 입력하세요</p>-->

<!--                        &lt;!&ndash; 인증 코드 입력란 &ndash;&gt;-->
<!--                        <div class="mb-3">-->
<!--                            <input type="text" class="form-control" placeholder="인증 코드 입력" id="verificationCode"  oninput="validateVerificationCode()" required>-->
<!--                            <span class="error-message" id="verification-code-error-message"></span>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; 확인 버튼 &ndash;&gt;-->
<!--                        <button class="btn btn-outline-secondary" onclick="verifyCode()">확인</button>-->
<!--                    </div> &lt;!&ndash; authMember 끝 &ndash;&gt;-->
<!--                </div> &lt;!&ndash; verifyStep: mt-4 끝 &ndash;&gt;-->
<!--            </div> &lt;!&ndash; step1 row&ndash;&gt;-->
<!--        </div>&lt;!&ndash; step1끝 &ndash;&gt;-->

<!--        &lt;!&ndash; step 2: 개인정보 입력 &ndash;&gt;-->
<!--        <div class="step" id="lastStepForm">-->
<!--            <div class="row">-->
<!--                <div class="col-12">-->
<!--                    <p class="text-center mt-4"> 개인정보를 입력해주세요</p>-->

<!--                    &lt;!&ndash; 이름 불러오기 &ndash;&gt;-->
<!--                    <div id="verificationSuccess" style="display: none;">-->
<!--                        <div class="mb-3">-->
<!--                            <label for="userNameInput" class="form-label">이름</label>-->
<!--                            <input type="text" name="name" id="userNameInput"  class="form-control" readonly>-->
<!--                        </div>-->
<!--                        <div class="mb-3">-->
<!--                            <label for="userPhoneInput" class="form-label">휴대폰 번호</label>-->
<!--                            <input type="text" id="userPhoneInput" class="form-control" name="tel" readonly>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; 아이디 입력란 &ndash;&gt;-->
<!--                    <div class="mb-3">-->
<!--                        <label for="memberIdInput" class="form-label">아이디</label>-->
<!--                        <div class="input-group">-->
<!--                            <input type="text"  th:field="*{memberId}" placeholder="영문 또는 영문,숫자 조합으로 입력하세요" oninput="this.className = ''" class="form-control" id="memberIdInput" name="memberIdInput" readonly required>-->
<!--                            <button type="button" class="btn btn-primary" id="chechMemberId">ID 중복 확인</button>-->
<!--                        </div>-->
<!--                        <span th:if="${#fields.hasErrors('memberId')}" th:errors="*{memberId}" class="error-message text-danger"></span>-->
<!--                        <span th:if="${memberIdDuplicate}" class="error-message text-danger">이 아이디는 이미 사용 중입니다. 다른 아이디를 입력하세요.</span>-->
<!--                    </div>-->

<!--                    &lt;!&ndash; 비밀번호 입력란 &ndash;&gt;-->
<!--                    <div class="mb-3">-->
<!--                        <label for="password" class="form-label">비밀번호</label>-->
<!--                        <input type="password" th:field="*{pwd1}" placeholder="6자리이상,숫자, 문자, 특수문자 각각 1개 이상 포함" autocomplete="new-password" oninput="this.className = ''" class="form-control" id="password" name="password" readonly required >-->
<!--                    </div>-->
<!--                    <span th:if="${#fields.hasErrors('pwd1')}" th:errors="*{pwd1}" class="error-message text-danger"></span>-->
<!--                    &lt;!&ndash; 비밀번호 확인 입력란 &ndash;&gt;-->
<!--                    <div class="mb-3">-->
<!--                        <label for="confirmPassword" class="form-label">비밀번호 확인</label>-->
<!--                        <input type="password" th:field="*{pwd2}" placeholder="비밀번호와 일치하게 입력하세요" autocomplete="new-password"    oninput="this.className = ''" class="form-control" id="confirmPassword" name="confirmPassword" readonly required>-->
<!--                    </div>-->
<!--                    <span th:if="${#fields.hasErrors('pwd2')}" th:errors="*{pwd2}" class="error-message text-danger"></span>-->
<!--                    <span th:if="${passwordMismatch}" class="error-message text-danger">비밀번호가 일치하지 않습니다.</span>-->

<!--                    &lt;!&ndash; 생년월일 입력란 &ndash;&gt;-->
<!--                    <div class="mb-3">-->
<!--                        <label for="birth" class="form-label">생년월일</label>-->
<!--                        <input type="date" th:field="*{birth}" oninput="this.className = ''" class="form-control" id="birth" name="birth"  readonly required>-->
<!--                        <span th:if="${#fields.hasErrors('birth')}" th:errors="*{birth}" class="error-message text-danger"></span>-->
<!--                    </div>-->

<!--                    &lt;!&ndash; 이메일 주소 입력란 &ndash;&gt;-->
<!--                    <div class="mb-3">-->
<!--                        <label for="email" class="form-label">이메일 주소</label>-->
<!--                        <input type="email"  th:field="*{email}" placeholder="12345@gmail.com" oninput="this.className = ''" class="form-control" id="email" name="email" readonly required>-->
<!--                        <span th:if="${emailDuplicate}" class="error-message text-danger">이 이메일을 이미 사용중인 아이디가 있습니다.</span>-->
<!--                    </div>-->

<!--                    &lt;!&ndash; 성별 &ndash;&gt;-->
<!--                    <div class="mb-3">-->
<!--                        <div class="gender d-flex justify-content-start">-->
<!--                            <label class="form-label">성별</label>-->
<!--                            <div class="form-check form-check-inline">-->
<!--                                <input class="form-check-input" th:field="*{gender}" th:value="M" type="radio" name="gender" id="male" >-->
<!--                                <label class="form-check-label" for="male">남성</label>-->
<!--                            </div>-->
<!--                            <div class="form-check form-check-inline">-->
<!--                                <input class="form-check-input" th:field="*{gender}" th:value="F" type="radio" name="gender" id="female" >-->
<!--                                <label class="form-check-label" for="female">여성</label>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <span th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" class="error-message text-danger"></span>-->
<!--                    &lt;!&ndash; 수신동의 (이메일 및 SMS 중 선택) &ndash;&gt;-->
<!--                    <div class="mb-3">-->
<!--                        <label class="form-label d-flex align-items-center">수신 동의 </label>-->
<!--                        <p>: 이벤트, 커리큘럼, 신규 콘텐츠 등 광고 메시지 수신</p>-->

<!--                        <div class="d-flex">-->
<!--                            <div class="form-check me-3">-->
<!--                                <input class="form-check-input" th:field="*{emailConsent}" type="checkbox" id="emailConsent" name="emailConsent" th:value="1">-->
<!--                                <label class="form-check-label" for="emailConsent">이메일</label>-->
<!--                            </div>-->
<!--                            <div class="form-check">-->
<!--                                <input class="form-check-input" th:field="*{smsConsent}" type="checkbox" id="smsConsent" name="smsConsent" th:value="1">-->
<!--                                <label class="form-check-label" for="smsConsent">SMS</label>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; 개인 정보 입력 부분 (교육자만 표시) &ndash;&gt;-->

<!--                    <div class="row" id="educatorInfo" style="display: none;">-->
<!--                        <hr/>-->
<!--                        <div class="col-md-12">-->
<!--                            <div class="mb-3">-->
<!--                                <label for="schoolName">소속 학원명:</label>-->
<!--                                <input type="text"  th:field="*{schoolName}" id="schoolName" name="schoolName" class="form-control">-->
<!--                                <span th:if="${#fields.hasErrors('schoolName')}" th:errors="*{schoolName}" class="error-message text-danger"></span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-md-6">-->
<!--                            <div class="mb-3">-->
<!--                                <label for="sido">시도:</label>-->
<!--                                <select id="sido" name="sido" class="form-control">-->
<!--                                    <option value="" selected disabled>시도 선택</option>-->
<!--                                    &lt;!&ndash; 시도 옵션들을 여기에 추가 &ndash;&gt;-->
<!--                                </select>-->
<!--                                <span th:if="${#fields.hasErrors('sido')}" th:errors="*{sido}" class="error-message text-danger"></span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-md-6">-->
<!--                            <div class="mb-3">-->
<!--                                <label for="sigungu">시군구:</label>-->
<!--                                <select id="sigungu" name="sigungu" class="form-control">-->
<!--                                    <option value="" selected disabled>시군구 선택</option>-->
<!--                                    &lt;!&ndash; 시군구 옵션들을 여기에 추가 &ndash;&gt;-->
<!--                                </select>-->
<!--                                <span th:if="${#fields.hasErrors('sigungu')}" th:errors="*{sigungu}" class="error-message text-danger"></span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div> &lt;!&ndash; step2_col12끝 &ndash;&gt;-->
<!--            </div>&lt;!&ndash; step2_row끝 &ndash;&gt;-->
<!--        </div> &lt;!&ndash; step2_끝 &ndash;&gt;-->

<!--        &lt;!&ndash; start previous / next buttons &ndash;&gt;-->
<!--        <div class="form-footer d-flex">-->
<!--            <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>-->
<!--            <button type="button" id="nextBtn" onclick="nextPrev(1);  enableInputFields();">Next</button>-->
<!--        </div>-->

<!--    </form> &lt;!&ndash; SingUpform 형식 끝 &ndash;&gt;-->
<!--</div> &lt;!&ndash; 2번째 tab-pane fade &ndash;&gt;-->
<!--<script th:src="@{/js/member/multistepForm.js}"></script>-->