<!--이 파일을 복사하여 templates/본인기능폴더 하위에 추가하여 작업해주세요-->
<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content" class="container my-3">
    <div class="row">
        <!--<div th:replace="~{각페이지에맞는사이드바파일경로::sidebar}"></div>-->
        <!--<div th:replace="~{/notice/manageSidebar::sidebar}"></div>운영자가 아니면 보여주는 사이드바 밑에서 공지등록버튼과 상태 드롭다운은 운영자한테만 보여주어야 함-->
        <div th:replace="~{/notice/utilSidebar::sidebar}" ></div>

        <div class="col-10"> <!--class에서 col-10은 빼면 안됨-->
            <!-- 맡은 기능 구현 하시면 됩니다! -->
            <h2>자주 묻는 질문</h2>
            <!-- 조회 컨트롤러 영역 -->
            <!--각각의 option value 값에 넘어가는 url을 모두 써줘야함. 변하는 값에 맞게끔.-->
            <div class="my-5">
                <form action="/notice/faq/search" class="input-group input-group-lg">
                    <input class="form-control" type="text" id="keyword" name="keyword" placeholder="검색어를 입력하세요" th:value="${keyword}">
                    <input type="hidden" id="page" name="page" value="">
                    <input class="btn btn-outline-primary" type="submit" value="검색">
                </form>
            </div>

            <div th:if="${noticePage.isEmpty()}">
                <div class="card">검색 결과가 없습니다.</div>
            </div>

            <div class="accordion" id="faqList">
                <div class="accordion-item" th:each="notice, loop:${noticePage}">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" th:data-bs-target="|#faq${notice.noticeNo}|" aria-expanded="false" th:aria-controls="|#faq${notice.noticeNo}|">
                            <span>Q.<span th:text="${notice.noticeTitle}"></span></span>
                        </button>
                    </h2>
                    <div th:id="|faq${notice.noticeNo}|" class="accordion-collapse collapse" data-bs-parent="#faqList">
                        <div class="accordion-body">
                            <div th:text="${notice.noticeContent}"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!--페이지네이션 들어가야함-->
            <nav th:if="${!noticePage.isEmpty()}" class="d-flex justify-content-center my-5">
                <ul class="pagination">
                    <!-- 이전 -->
                    <li class="page-item" th:classappend="${startPage <= 5} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{|?page=${startPage-2}&keyword=${keyword}|}"><span>Prev</span></a>
                    </li>

                    <!-- 페이지 번호 ?page=&listSize=10&noticeType=noti&status=post&searchCategory=noticeTitle&keyword=test -->
                    <li class="page-item" th:each="page : ${#numbers.sequence(startPage-1, endPage-1)}"
                        th:classappend="${page == noticePage.number} ? 'active'">
                        <a class="page-link"
                           th:if="${keyword}!=null"
                           th:href="@{|?page=${page}&keyword=${keyword}|}"
                           th:text="${page+1}"></a>
                        <a class="page-link"
                           th:if="${keyword}==null"
                           th:href="@{|?page=${page}|}"
                           th:text="${page+1}"></a>
                    </li>

                    <!-- 다음  &=${}-->
                    <li class="page-item" th:classappend="${endPage >= noticePage.totalPages} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{|?page=${endPage}&keyword=${keyword}|}"><span>Next</span></a>
                    </li>
                </ul>
            </nav>


        </div><!--콘텐츠영역끝-->
    </div><!--row-->
</div><!--container-->
<div layout:fragment="script">
    <script th:inline="javascript" >
        /*댓글등록성공시 메시지 alert*/
        if([[${msg}]]!=null){
            alert([[${msg}]]);
        }
    </script>
</div>
</html>