<!--이 파일 내용을 복사하여 templates/본인기능폴더 하위에 추가하여 본인 구현 페이지에 맞게 사이드바 내용을 작업해주세요-->
<div th:fragment="sidebar" class="col-2" th:if="${memberRole}==ADMIN"> <!--class에서 col-2은 빼면 안됨-->
    <!--운영마당용 사이드바-->
    <ul>
        <li class="mt-5"><h4>운영자마당</h4></li>
        <hr>
        <li class="mb-3 p-2"><a th:href="@{/game/addForm}" sec:authorize="hasAuthority('ADMIN')">게임콘텐츠 등록</a></li>
        <li class="mb-3 p-2"><a th:href="@{/game/list}" sec:authorize="hasAuthority('ADMIN')">게임콘텐츠 조회</a></li>
        <li class="mb-3 p-2"><a th:href="@{/education/addForm}" sec:authorize="hasAuthority('ADMIN')">교육자료 등록</a></li>
        <li class="mb-3 p-2"><a th:href="@{/education/list}" sec:authorize="hasAuthority('ADMIN')">교육자료 조회</a></li>
        <li class="mb-3 p-2"><a th:href="@{/notice/list}" sec:authorize="hasAuthority('ADMIN')">공지 및 FAQ 등록</a></li>
        <li class="mb-3 p-2"><a th:href="@{/qna/list}" sec:authorize="hasAuthority('ADMIN')">QnA 답변 등록</a></li>
        <li class="mb-3 p-2"><a th:href="@{/payments/showPayments}" sec:authorize="hasAuthority('ADMIN')">매출조회</a></li>
        <li class="mb-3 p-2"><a th:href="@{/admin/listMember}" sec:authorize="hasAuthority('ADMIN')">회원관리</a></li>
    </ul>
</div>