<!--이 파일을 복사하여 templates/본인기능폴더 하위에 추가하여 작업해주세요-->
<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content" class="container my-3">
    <div class="row">
        <!--<div th:replace="~{각페이지에맞는사이드바파일경로::sidebar}"></div>-->
        <div th:replace="~{/notice/manageSidebar::sidebar}"></div>
        <!--<div th:replace="~{/notice/utilSidebar::sidebar}" ></div>운영자가 아니면 보여주는 사이드바 밑에서 공지등록버튼과 상태 드롭다운은 운영자한테만 보여주어야 함-->

        <div style="border: 1px solid black;" class="col-10"> <!--class에서 col-10은 빼면 안됨-->
            <!-- 맡은 기능 구현 하시면 됩니다! -->
            <h2>공지사항</h2>
            <!-- 조회 컨트롤러 영역 -->
            <!--각각의 option value 값에 넘어가는 url을 모두 써줘야함. 변하는 값에 맞게끔.-->
            <div>
                <form action="/notice/list">
                    <input type="hidden" id="pageNo" name="pageNo" value="">
                    <label for="listSize">표기:
                        <select id="listSize" name="listSize" onchange="changeUrl(this.value)">
                            <!--list?pageNo=&listSize=30&noticeType=noti&status=post&searchCategory=titleAndContent&searchKeyword=-->
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                            <option value="50">50</option>
                        </select>
                    </label>
                    <label for="noticeType">구분:
                        <select id="noticeType" name="noticeType">
                            <option value="noti">공지사항</option>
                            <option value="faq">자주 묻는 질문</option>
                        </select>
                    </label>
                    <!--운영자한테만 보여야 함-->
                    <label for="status">상태:
                        <select id="status" name="status">
                            <option value="post">게시</option>
                            <option value="notPost">예약</option>
                        </select>
                    </label>
                    <br/>
                    <label for="searchCategory">
                        <select id="searchCategory" name="searchCategory">
                            <option value="titleAndContent">제목+내용</option>
                            <option value="onlyTitle">제목</option>
                            <option value="onlyContent">내용</option>
                        </select>
                        <input type="text" id="searchKeyword" name="searchKeyword" placeholder="검색어를 입력하세요">
                    </label>

                    <input type="submit" value="검색">
                    <a href="#" th:href="@{#}" class="btn btn-primary">공지사항 등록</a>

                </form>
            </div>
            <div>
                <a th:text="|총 게시물 ${noticePage.getTotalElements}개 조회되었습니다.|"></a>
                <table class="table">
                    <thead class="table-success">
                        <tr>
                            <th>No</th>
                            <th>상태</th><!--운영관리자한테만-->
                            <th>분류</th>
                            <th>제목</th>
                            <th>작성자</th>
                            <th>등록일시</th>
                            <th>조회수</th>
                            <th>댓글수</th>
                        </tr>
                    </thead>
                    <tbody class="table-hover">
                        <tr th:each="notice : ${noticePage}">
                            <!--*페이징처리에서 글번호 공식에 사용되는 개념
                                questionPage.getTotalElements:전체 게시물 개수
                                questionPage.number:현재 페이지 번호
                                questionPage.size:페이지당 게시물 개수
                                loop.index:나열 인덱스(0부터 시작)-->
                            <!--총게시물수-(현재페이지번호*페이지당게시물수)-나열 인덱스(0부터시작. for반복문 내의 index)
                            여기에서는 한 페이지당 게시글 수를 10-> 0~9 (첫페이지)/ 10~11-->
                            <!-- 글번호=총게시물수-(현재페이지번호*페이지당게시물개수)-나열 인덱스 -->
                            <!--12? =12-(0*10)-0 -->
                            <!-- =12-(0*10)-1 -->
                            <!-- =12-(0*10)-2 -->
                            <!--3? =12-(0*10)-9 -->
                            <!--2? =12-(1*10)-0 -->
                            <!--1? =12-(1*10)-1 -->
                            <td th:text="${notice.noticeNo}"></td>
                            <td> <!--운영관리자한테만-->
                                <a th:if="${notice.status.equals('post')}" th:text="게시"></a>
                                <a th:if="${notice.status.equals('not_post')}" th:text="예약"></a>
                            </td>
                            <td>
                                <a th:if="${notice.noticeType.equals('noti')}" th:text="공지사항"></a>
                                <a th:if="${notice.noticeType.equals('faq')}" th:text="자주묻는질문"></a>
                            </td>
                            <td><a href="/notice/detail/${notice.noticeNo}" th:href="@{|/notice/detail/${notice.noticeNo}|}" th:text="${notice.noticeTitle}"></a></td>
                            <td th:text="${notice.member.memberId}"></td>
                            <td th:text="${#temporals.format(notice.postDate, 'yyyy-MM-dd HH:mm')}"></td>
                            <td th:text="${notice.readCnt}"></td>
                            <td th:text="${}">댓글수</td>
                        </tr>
                        <tr th:if="${noticePage.isEmpty()}">
                            <td colspan="7" class="">검색 결과가 없습니다.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--페이지네이션 들어가야함-->
            <nav>
                <ul class="pagination">
                    <li></li>
                </ul>
            </nav>

        </div><!--콘텐츠영역끝-->
    </div><!--row-->
</div><!--container-->
<div layout:fragment="script">
    <script>
        function changeUrl(url) {
            location.href = url
        }
    </script>
</div>
</html>