<!--이 파일을 복사하여 templates/본인기능폴더 하위에 추가하여 작업해주세요-->
<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content" class="container my-3">
    <div class="row">
        <!--<div th:replace="~{각페이지에맞는사이드바파일경로::sidebar}"></div>-->
        <div th:replace="~{/notice/manageSidebar::sidebar}"></div>
        <!--<div th:replace="~{/notice/utilSidebar::sidebar}" ></div>운영자가 아니면 보여주는 사이드바 밑에서 공지등록버튼과 상태 드롭다운은 운영자한테만 보여주어야 함-->

        <div style="border: 1px solid black;" class="col-10"> <!--class에서 col-10은 빼면 안됨-->
            <!-- 맡은 기능 구현 하시면 됩니다! -->
            <h2>공지사항</h2>
            <div class="py-2">
                <div>
                    <div id="noticeHeader"> <!--글상세 헤더정보-->
                        <!--<a th:text="${notice.noticeType}">분류</a>-->
                        <a th:if="${notice.noticeType.equals('noti')}" th:text="공지"></a>
                        <a th:if="${!notice.noticeType.equals('noti')}" th:text="자주묻는질문"></a>
                        <a th:text="${notice.status}">상태</a><br/><!--운영관리자한테만-->
                        <h4 th:text="${notice.noticeTitle}">제목</h4><hr/>
                        <a th:text="|작성자: ${notice.member.memberId}|">작성자</a>
                        <a th:text="|작성일: ${#temporals.format(notice.writeDate, 'yyy-MM-dd HH:mm')}|">작성일</a><!--운영관리자한테만-->
                        <a th:text="|게시일: ${#temporals.format(notice.postDate, 'yyy-MM-dd HH:mm')}|">게시일</a>
                        <a th:text="|조회수: ${notice.readCnt}|">조회수</a>
                        <input type="hidden" th:value="${notice.noticeNo}">
                    </div>
                    <div id="attachFiles" th:each="file : ${filesList}"><!--첨부파일 있으면 여기에 추가-->
                        <label th:for="|id${file.originFileName}|">
                            <a th:href="@{|/notice/download?fileName=${file.fileUrl}/${file.copyFileName}_${file.originFileName}|}" th:id="|id${file.originFileName}|">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path d="M21.586 10.461l-10.05 10.075c-1.95 1.949-5.122 1.949-7.071 0s-1.95-5.122 0-7.072l10.628-10.585c1.17-1.17 3.073-1.17 4.243 0 1.169 1.17 1.17 3.072 0 4.242l-8.507 8.464c-.39.39-1.024.39-1.414 0s-.39-1.024 0-1.414l7.093-7.05-1.415-1.414-7.093 7.049c-1.172 1.172-1.171 3.073 0 4.244s3.071 1.171 4.242 0l8.507-8.464c.977-.977 1.464-2.256 1.464-3.536 0-2.769-2.246-4.999-5-4.999-1.28 0-2.559.488-3.536 1.465l-10.627 10.583c-1.366 1.368-2.05 3.159-2.05 4.951 0 3.863 3.13 7 7 7 1.792 0 3.583-.684 4.95-2.05l10.05-10.075-1.414-1.414z"/></svg>
                                <span th:text="${file.originFileName}"></span>
                            </a>
                        </label>
                    </div>
                    <div th:text="${notice.noticeContent}">내용</div>
                    <!--글 작성자만 수정 삭제 버튼 보여져야 함-->
                    <div>
                        <a th:href="@{|/notice/modify/${noticeNo}|}" class="btn btn-secondary">수정</a>
                        <a href="javascript:void(0);" th:data-uri="@{|/notice/delete/${notice.noticeNo}|}"
                           class="delete btn btn-outline-danger"
                           th:text="삭제">
                            <!--댓글작성자와 로그인한사람이 동일할때만 보여져야함-->
                            <!--sec:authorize="isAuthenticated()"
                            th:if="${ answer.writer!=null and #authentication.getPrincipal().getUsername()==answer.writer.username }"-->
                        </a>
                    </div>
                </div>
                <hr/>
                <!--댓글 등록 폼-->
                <form id="replyForm" th:object="${noticeReplyForm}" th:action="@{|/reply/add/${notice.noticeNo}|}" method="post">
                    <div th:replace="~{form_errors::formErrorsFragment}"></div>
                    <div class="d-flex justify-content-around">
                        <textarea th:field="*{content}" rows="2" class="form-control"></textarea>
                        <input type="submit" value="댓글 등록" class="btn btn-primary">
                    </div>
                </form>
                <!--댓글개수 출력-->
                <h6 th:text="|${#lists.size(notice.noticeReplies)}개의 댓글|"></h6>
                <!--댓글목록 시작-->
                <div class="card" th:each="reply : ${notice.noticeReplies}" th:id="|replyWrapNo${reply.noticeReplyNo}|">
                    <div class="card-body" th:id="|replyNo${reply.noticeReplyNo}|">
                        <div class="d-flex justify-content-between">
                            <span class="badge bg-primary p-2 text-start" th:text="${reply.member.memberId}">작성자</span>
                            <span class="badge bg-light text-dark p-2 text-start" th:text="${#temporals.format(reply.writeDate, 'yyyy-MM-dd HH:mm')}">작성일</span>
                        </div>
                        <div class="card-text" th:text="${reply.content}">댓글내용</div>
                        <div class="d-flex justify-content-end">
                            <a th:id="|replyModify${reply.noticeReplyNo}|" class="btn btn-sm btn-secondary">수정</a>
                            <a href="javascript:void(0);" th:data-uri="@{|/reply/delete/${reply.noticeReplyNo}|}"
                               class="delete btn btn-sm btn-outline-danger"
                               th:text="삭제">
                               <!--댓글작성자와 로그인한사람이 동일할때만 보여져야함-->
                               <!--sec:authorize="isAuthenticated()"
                               th:if="${ answer.writer!=null and #authentication.getPrincipal().getUsername()==answer.writer.username }"-->
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div><!--콘텐츠영역끝-->
    </div><!--row-->
</div><!--container-->
<div layout:fragment="script">
    <!-- jQuery 추가 -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" crossorigin="anonymous"></script>

    <script th:inline="javascript">
    /*댓글등록성공시 메시지 alert*/
    if([[${msg}]]!=null){
        alert([[${msg}]]);
    }
    var $ = jQuery;

    function transferData(replyId, content, noticeNo){

        if(content.trim()!==''){
            // Ajax 요청 보내기
            $.ajax({
                type: 'PUT',
                url: '/reply/modify/' + replyId,
                contentType: 'application/json',
                data: JSON.stringify({ content: content }),
                success: function(response) {
                    //$("#replyWrapNo"+replyId).load("/notice/detail/"+noticeNo+" #replyNo"+replyId);
                    //alert('댓글을 수정하였습니다.');
                    location.reload();
                },
                error: function(error) {
                    console.error('댓글 수정 실패:', error);
                    alert('댓글 수정에 실패했습니다.');
                }
            });
        } else {
            alert('수정할 댓글을 입력하세요.');
            setTimeout(function(){
                document.querySelector("#replyNo"+replyId+" textarea").focus();
            });
        }
    }
    function replyRollback(replyId, noticeNo){
        $("#replyWrapNo"+replyId).load("/notice/detail/"+noticeNo+" #replyNo"+replyId);
    }

    document.addEventListener('DOMContentLoaded', function() {
        // 모든 수정 버튼을 선택
        var modifyButtons = document.querySelectorAll('[id^="replyModify"]');

        // 각 수정 버튼에 클릭 이벤트 추가
        modifyButtons.forEach(function(button) {
            button.addEventListener('click', function(event) {
                event.preventDefault();

                // 해당 버튼의 id를 가져와서 사용
                var replyId = this.id.replace('replyModify', '');

                var replyNo = 'reply'+replyId;

                //기존 노드를 js 변수화
                var cardTextNode = document.querySelector('#replyNo'+replyId+' .card-text');
                var btnGroup = document.querySelector('#replyNo'+replyId+' .justify-content-end');

                //해당 노드들을 삭제 후 문자열로 된 html 태그 추가
                cardTextNode.remove();
                btnGroup.remove();

                var modifyFormHtml = '<form id="replyModifyForm" method="put">'+
                                          '<div class="d-flex justify-content-around">'+
                                            '<textarea rows="2" class="form-control" autofocus="autofocus"></textarea>'+
                                            '<input type="button" value="댓글 수정" class="btn btn-sm btn-primary" onclick="transferData(' + replyId + ', document.querySelector(\'#replyNo' + replyId + ' textarea\').value, document.querySelector(\'#noticeHeader input\').value);">'+
                                            '<input type="button" value="수정 취소" class="btn btn-sm btn-secondary" onclick="replyRollback(' + replyId + ', document.querySelector(\'#noticeHeader input\').value);">'+
                                          '</div>'+
                                      '</form>';

                document.querySelector('#replyNo'+replyId).insertAdjacentHTML('beforeend', modifyFormHtml);

                $.ajax({
                    url : '/reply/get/'+replyId,
                    type : 'get',
                    dataType : 'json',
                    async : false,
                    success : function (response) {
                        document.querySelector('#replyNo'+replyId+' textarea').value = response.content;
                    },
                    error : function (request, status, error) {
                        console.log(error)
                    }
                });

            });
        });
    });
    /** 삭제 버튼 클릭시 호출*/
    const delElements = document.getElementsByClassName("delete");
    //배열객체로 바꿔주자. form태그 안에 delElements가 있을테니 걔를 찾아라. 각각의 요소마다 동작 구현을 해줄거임.
    Array.from(delElements).forEach( function(element){ //익명함수, 당장 실행할거임
        element.addEventListener( "click", function(){
            if(confirm("정말 삭제하시겠습니까?")){ //확인 클릭시,
                location.href=this.dataset.uri;
                /*click이벤트가 발생하는 요소(this=a)의 속성(data-uri)에 접근하여 location객체의 href속성값으로 적용해라.
                  왜냐, 현재 브라우저의 url를 바꿔야하기 때문에.
                  (.dataset-uri)==(location.href="/question/delete/${question.id}";)*/
            };
        });
    });
</script>
</div>
</html>