<!--이 파일 내용을 복사하여 templates/본인기능폴더 하위에 추가하여 본인 구현 페이지에 맞게 사이드바 내용을 작업해주세요-->
<div th:fragment="sidebar" style="border: 1px solid black;" class="col-2" th:unless="${memberRole}==ADMIN"> <!--class에서 col-2은 빼면 안됨-->
    <!--이용안내용 사이드바-->
    <ul>
        <li><a th:href="@{#}">사이트 소개(yet)</a></li>
        <li><a th:href="@{#}">이용 가이드(yet)</a></li>
        <li><a th:href="@{/member/login}">로그인 및 회원가입</a></li>
        <li><a th:href="@{#}">상품 소개(yet)</a></li>
        <li><a th:href="@{/notice/list}">공지</a></li>
        <li><a th:href="@{/notice/faq}">FAQ</a></li>
        <li><a th:href="@{/qna/list}">QnA</a></li>
    </ul>
</div>