<!--이 파일 내용을 복사하여 templates/본인기능폴더 하위에 추가하여 본인 구현 페이지에 맞게 사이드바 내용을 작업해주세요-->
<div th:fragment="sidebar"  class="col-2" th:unless="${memberRole}==ADMIN"> <!--class에서 col-2은 빼면 안됨-->
    <!--이용안내용 사이드바-->
    <ul>
        <li><a th:href="@{/#service}">사이트 소개</a></li>
        <li><a th:href="@{/#meetings}">상품 소개</a></li>
        <li><a th:href="@{/#guide}">이용 가이드</a></li>
        <li><a th:href="@{/notice/list}">공지사항</a></li>
        <li><a th:href="@{/notice/faq}">자주묻는질문</a></li>
        <li><a th:href="@{/qna/list}">문의사항</a></li>
    </ul>
</div>