<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content" class="container my-3">
    <link rel="stylesheet" href="/css/game/list.css" />
    <style>
    </style>
    <div class="row">
        <div th:replace="~{/admin/adminSidebar::sidebar}"></div>
        <div class="col-md-10">
            <h2>정보보기</h2>
            <div class="row">
                <div class="col-md-5">
                    <h5 class="card-title" th:text="${gameContents.gameName}"></h5>
                    <img th:src="@{|/upload/game/${gameContents.gameContentFilesList[0].copyFileName}|}" class="img-fluid" alt="Game Image" style="max-width: 500px; height: auto;">
                </div>
                <div class="col-md-7">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text" th:text="${gameContents.difficulty}"></p>
                            <p class="card-text" th:text="${gameContents.subscriptionDuration}"></p>
                            <p class="card-text" th:text="${gameContents.maxSubscribers}"></p>
                            <p class="card-text" th:text="${gameContents.salePrice}"></p>
                            <p class="card-text" th:text="${gameContents.packageDetails}"></p>
                            <p class="card-text" th:text="${gameContents.contentType}"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
            <ul>
                <li th:each="education : ${selectEducation}">
                    <p>자료명: [[${education.resourceName}]]</p>
                    <p>자료 구분: [[${education.resourceCate}]]</p>
                    <div th:if="${education.resourcesFilesList != null}">
                        <a th:href="@{|/education/downloadFile/${education.resourcesFilesList.fileNo}|}">다운로드</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    </div>
</div>
</html>
