<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content" class="container my-3">
    <link rel="stylesheet" href="/css/game/list.css" />
    <style>

    </style>
    <div class="row">
        <!--<div th:replace="~{각페이지에맞는사이드바파일경로::sidebar}"></div>-->
        <div th:replace="~{/payments/paySidebar::sidebar}"></div> <!--테스트 사이드바 경로를 넣어놓음-->

        <div class="col-10"> <!--class에서 col-10은 빼면 안됨-->

            <h1>결제 내역</h1>
            <div class="container">
                <div class="row">
                    <div th:each="payment : ${paymentsPage.content}">
                        <div class="col-md-10 mb-3">
                            <div class="card rounded-5">
                                <div class="row g-0">
                                    <div class="col-md-3">
                                        <span th:text="${payment.status == 'complete' ? '성공' : payment.status}"></span>
                                            <img th:src="@{|/upload/game/${payment.gameContents.gameContentFilesList[0].copyFileName}|}" class="img-fluid" alt="Game Image" style="max-width: 100%; height: auto;">
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card-body">
                                            <h5 class="card-title" th:text="${payment.gameContents.gameName}"></h5>
                                            <p class="card-text">
                                                주문번호: <span th:text="${payment.orderNumber}"></span><br>
                                                결제수단: <span th:text="${payment.method}"></span><br>
                                                결제일: <span th:text="${#temporals.format(payment.paymentDate,'yyyy-MM-dd')}"></span><br>
                                                <span th:text="${payment.amount <= 999 ? #numbers.formatInteger(payment.amount.intValue(), 0, 'COMMA') + '원' : #numbers.formatInteger(payment.amount.intValue(), 3, 'COMMA') + '원'}"></span>
                                            </p>
                                            <div class="d-flex justify-content-between">
                                                <button class="btn btn-warning col-8 mr-5"><a th:href="@{|/payments/detail/${payment.gameContents.gameContentNo}|}" class="text-white">자세히 보기</a></button>
                                                <button class="btn btn-success col-8" style="background-color: #bae2cf; color: #09aa5c;">
                                                    <a th:href="@{/studygroup/gameList}" class="text-white">학습 그룹 만들기</a>
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>















            <!-- -->
            <table>
                <tr>
                    <th>주문번호</th>
                    <th>결제수단</th>
                    <th>결제일</th>
                    <th>상태</th>
                    <th>구매가</th>
                    <th>Game Name</th>
                    <th>Educational Resources</th>
                    <th>Game Content Files</th>
                </tr>
                <tr th:each="payment : ${paymentsPage.content}">
                    <td th:text="${payment.orderNumber}"></td>
                    <td th:text="${payment.method}"></td>
                    <td th:text="${payment.paymentDate}"></td>
                    <td th:text="${payment.status}"></td>
                    <td th:text="${payment.amount}"></td>
                    <td th:text="${payment.gameContents.gameName}"></td>
                    <td>
                        <ul>
                            <li th:each="resource : ${payment.gameContents.educationalResourcesList}">
                                <span th:text="${resource.resourceName}"></span>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <ul>

                            <li th:each="file : ${payment.gameContents.gameContentFilesList}">
                                <img th:src="@{|/upload/game/${file.copyFileName}|}" alt="Game Image" style="">
                                <span th:text="${file.copyFileName}"></span>
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>

            <div class="container">
                <div class="row">
                    <div th:each="game : ${gameContentsList}">
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <img th:if="${game != null and game.gameContentFilesList != null and not #lists.isEmpty(game.gameContentFilesList)}"
                                 th:src="@{|/upload/game/${game.gameContentFilesList[0].copyFileName}|}" alt="Game Image" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${game.gameName}"></h5>
                                </th:each>
                                <p class="card-text">
                                    <div th:each="payment : ${paymentsPage.content}">
                                    주문번호: <span th:text="${payment.orderNumber}"></span><br>
                                    결제수단: <span th:text="${payment.method}"></span><br>
                                    결제일: <span th:text="${payment.paymentDate}"></span><br>
                                    상태: <span th:text="${payment.status}"></span><br>
                                    구매가: <span th:text="${payment.amount}"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                        </th:each>
                </div>
            </div>


<table>
    <tr>
        <th>주문번호</th>
        <th>결제수단</th>
        <th>결제일</th>
        <th>상태</th>
        <th>구매가</th>
    </tr>
    <tr th:each="payment : ${paymentsPage.content}">
        <td th:text="${payment.orderNumber}"></td>
        <td th:text="${payment.method}"></td>
        <td th:text="${payment.paymentDate}"></td>
        <td th:text="${payment.status}"></td>
        <td th:text="${payment.amount}"></td>
    </tr>
    <tr th:each="game : ${gameContentsList}">
        <td th:text="${game.gameContentNo}"></td>
        <td th:text="${game.gameName}"></td>
        <td th:text="${game.difficulty}"></td>
        <td th:text="${game.subscriptionDuration}"></td>
        <td th:text="${game.maxSubscribers}"></td>
        <td th:text="${game.salePrice}"></td>
        <td th:text="${game.packageDetails}"></td>
        <td class="gameContents image">
            <img th:if="${game.gameContentFilesList != null and not #lists.isEmpty(game.gameContentFilesList)}"
                 th:src="@{|/upload/game/${game.gameContentFilesList[0].copyFileName}|}" alt="" width="100" height="100">
        </td>
    </tr>
</table>

            <table>
                <tr>
                    <th>주문번호</th>
                    <th>결제수단</th>
                    <th>결제일</th>
                    <th>상태</th>
                    <th>구매가</th>
                    <th>Game Name</th>
                    <th>Educational Resources</th>
                </tr>
                <tr th:each="payment : ${paymentsPage.content}">
                    <td th:text="${payment.paymentDate}"></td>
                    <td th:text="${payment.amount}"></td>
                    <td th:text="${payment.gameContents.gameName}"></td>
                        <ul>
                            <li th:each="resource : ${payment.gameContents.educationalResourcesList}">
                                <span th:text="${resource.resourceName}"></span>
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
                </div>
            </div>
        </div>
    </div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var selectedGameContentNos = sessionStorage.getItem("selectedGameContentNos");
        var selectedSalePrices = sessionStorage.getItem("selectedSalePrices");
          console.log('selectedGameContentNos',selectedGameContentNos)
          if (selectedGameContentNos) {
            // 페이지가 완전히 로드되면, 게임 구매할때 사용했던 GameContentNo값의 세션 스토리지를 삭제
            sessionStorage.removeItem('selectedGameContentNos');
            sessionStorage.removeItem('selectedSalePrices');

          }
     });
</script>
    </div>
</html>