<!--이 파일을 복사하여 templates/본인기능폴더 하위에 추가하여 작업해주세요-->
<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content" class="container my-3">
    <!-- bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- 약관내용 스타일 적용 -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/member/joinForm.css}">
    <div class="row">
        <!--<div th:replace="~{각페이지에맞는사이드바파일경로::sidebar}"></div>-->
        <div th:replace="~{/member/memberSidebar::sidebar}"></div> <!--테스트 사이드바 경로를 넣어놓음-->

        <div style="border: 1px solid black;" class="col-10"> <!--class에서 col-10은 빼면 안됨-->
            <!-- 맡은 기능 구현 하시면 됩니다! -->
            <div class="d-flex justify-content-center align-items-center mt-5">
                <div class="row">
                    <!-- Pills navs -->
                    <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="tab-login" data-bs-toggle="pill" href="#pills-login" role="tab"
                               aria-controls="pills-login" aria-selected="true">Login</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="tab-register" data-bs-toggle="pill" href="#pills-register" role="tab"
                               aria-controls="pills-register" aria-selected="false">Register</a>
                        </li>
                    </ul>
                    <!-- Pills navs -->

                    <!-- Pills content -->
                    <div class="tab-content" id="pills-tabContent">
                        <!-- 로그인 영역 -->
                        <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
                            <form id="loginForm"  th:action="@{/member/login}" th:object="${loginVaildation}" method="post">
                                <!-- ID input -->
                                <div class="form-outline mb-4">
                                    <input type="text" th:field="*{memberId}" name="memberId" id="memberId" class="form-control" />
                                    <label class="form-label" for="memberId"></label>
                                    <div th:if="${#fields.hasErrors('memberId')}" th:errors="*{memberId}" class="alert alert-danger"></div>
                                </div>

                                <!-- Password input -->
                                <div class="form-outline mb-4">
                                    <input type="password" th:field="*{password}" name="password" id="loginPassword" class="form-control" />
                                    <label class="form-label" for="loginPassword">비밀번호</label>
                                    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="alert alert-danger"></div>
                                </div>

                                <!-- 오류시 보여주는 문구 -->
                                <div th:if="${param.error}">
                                    <div class="alert alert-danger">
                                        사용자ID 또는 비밀번호를 확인해주세요.
                                    </div>
                                </div>

                                <!-- 2 column grid layout -->
                                <div class="row mb-4">
                                    <div class="col-md-6 d-flex justify-content-center">
                                        <!-- Checkbox -->
                                        <div class="form-check mb-3 mb-md-0">
                                            <input class="form-check-input" type="checkbox" value="" id="loginCheck" checked />
                                            <label class="form-check-label" for="loginCheck"> Remember me </label>
                                        </div>
                                    </div>

                                    <div class="col-md-6 d-flex justify-content-center">
                                        <!-- Simple link -->
                                        <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/member/idpwSearch}">아이디 / 비밀번호 찾기
                                            </a>
                                    </div>
                                </div>

                                <!-- Submit button -->
                                <button id=login type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

                                <!-- Register buttons -->
                                <div class="text-center">
                                    <p>회원이 아니신가요? <a href="#pills-register" id="registerLink">회원가입하기</a></p>
                                </div>
                            </form>
                        </div><!-- tab-pane -->

                        <!-- 회원가입 영역 -->
                        <div class="tab-pane fade" id="pills-register" role="tabpanel" aria-labelledby="tab-register">
                            <form id="signUpForm"  th:action="@{/member/join}" th:object="${userCreateForm}" method="post">

                                <!-- start step indicators -->
                                <div class="form-header d-flex mb-4">
                                    <span class="stepIndicator">회원유형 선택</span>
                                    <span class="stepIndicator">약관동의 및 본인인증</span>
                                    <span class="stepIndicator">개인 정보 입력</span>
                                </div>
                                <!-- end step indicators -->

                                <!-- step0 : 회원가입 구분-->
                                <div class="step">
                                    <div class="row">
                                        <div class="col-12">

                                            <p class="text-center mb-4">가입 유형을 선택해주세요</p>
                                            <!-- 회원 구분 드롭다운 -->
                                            <div class="mb-3">
                                                <label for="role" class="form-label"></label>
                                                <select class="form-select" id="role" name="role">
                                                    <option value="EDUCATOR">교육자</option>
                                                    <option value="STUDENT">학습자</option>
                                                    <option value="NORMAL">일반인</option>
                                                    <option value="ADMIN">운영자</option>
                                                </select>
                                            </div>
                                        </div> <!--col-12 -->
                                    </div> <!--step0_row-->
                                </div> <!--step0 끝 -->

                                <!-- step1: 약관동의 및 본인인증 -->
                                <div class="step">
                                    <div class="row">
                                        <p class="text-center mt-4">약관에 동의해주세요</p>
                                        <div class="mb-3">
                                            <!-- 전체 동의 -->
                                            <div class="form-check">
                                                <div class="row">
                                                    <div class="col-1">
                                                        <input class="form-check-input" type="checkbox" id="checkAll">
                                                    </div>
                                                    <div class="col-11">
                                                        <label class="form-check-label" for="checkAll">전체 동의</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- 이용 약관 -->
                                            <div class="agreement form-check">
                                                <div class="row">
                                                    <div class="col-1">
                                                        <input class="form-check-input" type="checkbox" id="agreement1" required>
                                                    </div>
                                                    <div class="col-11">
                                                        <label class="form-check-label" for="agreement1">이용 약관 (필수)</label>
                                                        <div class="details">
                                                            <p>이용 약관 상세 내용...</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- 개인정보 필수항목에 대한 처리 및 이용 -->
                                            <div class="agreement form-check">
                                                <div class="row">
                                                    <div class="col-1">
                                                        <input class="form-check-input" type="checkbox" id="agreement2" required>
                                                    </div>
                                                    <div class="col-11">
                                                        <label class="form-check-label" for="agreement2">개인정보 필수항목에 대한 처리 및 이용 (필수)</label>
                                                        <div class="details">
                                                            <p>개인정보 선택항목 처리 및 이용 상세 내용...</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- 개인정보 선택항목에 대한 처리 및 이용 -->
                                            <div class="agreement form-check">
                                                <div class="row">
                                                    <div class="col-1">
                                                        <input class="form-check-input"  th:field="*{privacyConsent}"type="checkbox" id="agreement3">
                                                    </div>
                                                    <div class="col-11">
                                                        <label class="form-check-label" for="agreement3">개인정보 선택항목에 대한 처리 및 이용 (선택)</label>
                                                        <div class="details">
                                                            <p>개인정보 마케팅 및 광고 활용 상세 내용...</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- 개인정보 마케팅 및 광고 활용 -->
                                            <div class="agreement form-check">
                                                <div class="row">
                                                    <div class="col-1">
                                                        <input class="form-check-input" type="checkbox" id="agreement4">
                                                    </div>
                                                    <div class="col-11">
                                                        <label class="form-check-label" for="agreement4">개인정보 마케팅 및 광고 활용 (선택)</label>
                                                        <div class="details">
                                                            <P>개인정보 마케팅 및 광고 활용 상세 내용...</P>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- 개인정보의 위탁 -->
                                            <div class="agreement form-check">
                                                <div class="row">
                                                    <div class="col-1">
                                                        <input class="form-check-input" type="checkbox" id="agreement5" required>
                                                    </div>
                                                    <div class="col-11">
                                                        <label class="form-check-label" for="agreement5" >개인정보의 위탁 (필수)</label>
                                                        <div class="details">
                                                            <P> 개인정보의 위탁 내용...</P>
                                                        </div>
                                                    </div>
                                                </div> <!--step1: row -->
                                            </div>
                                        </div> <!-- mb-3 -->

                                        <!-- 본인 인증하기 -->
                                        <div class="mt-4" id="authStep">
                                            <div class="authMember">
                                                <p class="text-center mb-4">본인 이름과 휴대폰 번호를 인증해주세요 </p>

                                                <!-- 휴대폰 번호와 인증 버튼 -->
                                                <div class="mb-3">
                                                    <input class="form-control" type="text" placeholder="이름" oninput="this.className = ''" name="memName" id="memName">
                                                </div>
                                                <div class="mb-3">
                                                    <input type="tel" class="form-control" name="to" placeholder="본인 휴대폰번호를 입력하세요" maxlength="14"  id="to"/>
                                                </div>
                                                <button class="btn btn-outline-secondary" onclick="sendVerificationCode()">발송</button>
                                            </div> <!-- authMember 끝 -->
                                        </div> <!-- authStep: mt-4 끝 -->

                                        <!-- 인증 코드 입력 폼 -->
                                        <div class="mt-4" id="verifyStep">
                                            <div class="authMember">
                                                <p class="text-center mb-4">인증 코드를 입력하세요</p>

                                                <!-- 인증 코드 입력란 -->
                                                <div class="mb-3">
                                                    <input type="text" class="form-control" placeholder="인증 코드 입력" id="verificationCode">
                                                </div>
                                                <!-- 확인 버튼 -->
                                                <button class="btn btn-outline-secondary" onclick="verifyCode()">확인</button>
                                            </div> <!-- authMember 끝 -->
                                        </div> <!-- verifyStep: mt-4 끝 -->
                                    </div> <!-- step1 row-->
                                </div><!-- step1끝 -->

                                <!-- step 2: 개인정보 입력 -->
                                <div class="step" id="lastStepForm">
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="text-center mt-4"> 개인정보를 입력해주세요</p>

                                            <!-- 이름 불러오기 -->
                                            <div id="verificationSuccess" style="display: none;">
                                                <div class="mb-3">
                                                    <label for="userNameInput" class="form-label">이름</label>
                                                    <input type="text" name="name" id="userNameInput"  class="form-control" readonly>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="userPhoneInput" class="form-label">휴대폰 번호</label>
                                                    <input type="text" id="userPhoneInput" class="form-control" name="tel" readonly>
                                                </div>
                                            </div>
                                            <!-- 아이디 입력란 -->
                                            <div class="mb-3">
                                                <label for="memberIdInput" class="form-label">아이디</label>
                                                <div class="input-group">
                                                    <input type="text"  th:field="*{memberId}" placeholder="영문 또는 영문,숫자 조합으로 입력하세요" oninput="this.className = ''" class="form-control" id="memberIdInput" name="memberIdInput" disabled required>
                                                    <button type="button" class="btn btn-primary" id="chechMemberId">ID 중복 확인</button>
                                                </div>
                                            </div>

                                            <!-- 비밀번호 입력란 -->
                                            <div class="mb-3">
                                                <label for="password" class="form-label">비밀번호</label>
                                                <input type="password" th:field="*{pwd1}" placeholder="6자리이상,숫자, 문자, 특수문자 각각 1개 이상 포함" autocomplete="new-password" oninput="this.className = ''" class="form-control" id="password" name="password" disabled >
                                            </div>
                                            <!-- 비밀번호 확인 입력란 -->
                                            <div class="mb-3">
                                                <label for="confirmPassword" class="form-label">비밀번호 확인</label>
                                                <input type="password" th:field="*{pwd2}" placeholder="비밀번호와 일치하게 입력하세요" autocomplete="new-password"    oninput="this.className = ''" class="form-control" id="confirmPassword" name="confirmPassword" disabled required>
                                            </div>

                                            <!-- 생년월일 입력란 -->
                                            <div class="mb-3">
                                                <label for="birth" class="form-label">생년월일</label>
                                                <input type="date" th:field="*{birth}" oninput="this.className = ''" class="form-control" id="birth" name="birth"  required>
                                            </div>

                                            <!-- 이메일 주소 입력란 -->
                                            <div class="mb-3">
                                                <label for="email" class="form-label">이메일 주소</label>
                                                <input type="email"  th:field="*{email}" placeholder="12345@gmail.com" oninput="this.className = ''" class="form-control" id="email" name="email"  disabled required>
                                            </div>

                                            <!-- 성별 -->
                                            <div class="mb-3">
                                                <div class="gender d-flex justify-content-start">
                                                    <label class="form-label">성별</label>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" th:field="*{gender}" th:value="M" type="radio" name="gender" id="male" >
                                                        <label class="form-check-label" for="male">남성</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" th:field="*{gender}" th:value="F" type="radio" name="gender" id="female" >
                                                        <label class="form-check-label" for="female">여성</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- 수신동의 (이메일 및 SMS 중 선택) -->
                                            <div class="mb-3">
                                                <label class="form-label d-flex align-items-center">수신 동의 </label>
                                                <p>: 이벤트, 커리큘럼, 신규 콘텐츠 등 광고 메시지 수신</p>

                                                <div class="d-flex">
                                                    <div class="form-check me-3">
                                                        <input class="form-check-input" th:field="*{emailConsent}" type="checkbox" id="emailConsent" name="emailConsent" th:value="1">
                                                        <label class="form-check-label" for="emailConsent">이메일</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" th:field="*{smsConsent}" type="checkbox" id="smsConsent" name="smsConsent" th:value="1">
                                                        <label class="form-check-label" for="smsConsent">SMS</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- 개인 정보 입력 부분 (교육자만 표시) -->

                                            <div class="row" id="educatorInfo" style="display: none;">
                                                <hr/>
                                                <div class="col-md-12">
                                                    <div class="mb-3">
                                                        <label for="schoolName">소속 학원명:</label>
                                                        <input type="text"  th:field="*{schoolName}" id="schoolName" name="schoolName" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label for="sido">시도:</label>
                                                        <select id="sido" name="sido" class="form-control">
                                                            <option value="" selected disabled>시도 선택</option>
                                                            <!-- 시도 옵션들을 여기에 추가 -->
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label for="sigungu">시군구:</label>
                                                        <select id="sigungu" name="sigungu" class="form-control">
                                                            <option value="" selected disabled>시군구 선택</option>
                                                            <!-- 시군구 옵션들을 여기에 추가 -->
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                        </div> <!-- step2_col12끝 -->
                                    </div><!-- step2_row끝 -->
                                </div> <!-- step2_끝 -->

                                <!-- start previous / next buttons -->
                                <div class="form-footer d-flex">
                                    <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                                    <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
                                </div>
                            </form> <!-- SingUpform 형식 끝 -->
                        </div> <!-- 2번째 tab-pane fade -->
                    </div> <!-- tab-content -->
                </div> <!-- tab_row -->
            </div> <!-- dflex -->
        </div> <!-- border : col-10 메인 내용 -->
    </div> <!-- row -->
    <script layout:fragment="script">
        // "회원가입하기" 링크 클릭 시 Register 탭을 활성화
        document.querySelector('#registerLink').addEventListener('click', function (e) {
            e.preventDefault();
            var registerTab = new bootstrap.Tab(document.querySelector('#tab-register'));
            registerTab.show();
        });

        //mulitStep-form 작동

                 var currentTab = 0; // 현재 탭을 첫 번째 탭(0)으로 설정합니다.
                 showTab(currentTab); // 현재 탭을 표시합니다.

                 function showTab(n) {
                   var x = document.getElementsByClassName("step");
                   x[n].style.display = "block"; // 현재 탭을 보여줍니다.

                   if (n == 0) {
                     document.getElementById("prevBtn").style.display = "none"; // 첫 번째 탭이면 "이전" 버튼을 숨깁니다.
                   } else {
                     document.getElementById("prevBtn").style.display = "inline"; // 첫 번째 탭이 아니면 "이전" 버튼을 표시합니다.
                   }

                   var nextBtn = document.getElementById("nextBtn");
                   if (n == x.length - 1) {
                     document.getElementById("nextBtn").innerHTML = "Submit"; // 마지막 탭이면 "다음" 버튼 텍스트를 "제출"로 변경합니다.
                     nextBtn.setAttribute("type", "submit"); // 버튼의 type을 "submit"으로 변경합니다.
                   } else {
                     document.getElementById("nextBtn").innerHTML = "Next"; // 마지막 탭이 아니면 "다음" 버튼 텍스트를 "다음"으로 변경합니다.
                     nextBtn.setAttribute("type", "button"); // 버튼의 type을 "button"으로 설정합니다.
                   }
                    // ... and run a function that displays the correct step indicator:
                   fixStepIndicator(n)
                 }

                 function nextPrev(n) {
                   var x = document.getElementsByClassName("step");

                   if (n == 1 && !validateForm()) return false; // "다음" 버튼을 클릭하고 현재 탭의 폼 유효성 검사가 실패하면 함수를 종료합니다.

                   x[currentTab].style.display = "none"; // 현재 탭을 숨깁니다.
                   currentTab = currentTab + n; // 다음 탭 또는 이전 탭으로 이동합니다.

                  //2번째 step
                  if (currentTab === x.length - 1) {
                    var lastStepFormInputs = document.querySelectorAll("#lastStepForm input");
                    lastStepFormInputs.forEach(function (input) {
                      input.removeAttribute("disabled");
                    });
                  }

                    if (currentTab === x.length) {
                        document.getElementById("signUpForm").submit(); // 마지막 탭이면 폼을 제출합니다.
                    } else {
                        showTab(currentTab); // 다음 탭을 표시합니다.
                    }
                }


                 function validateForm() {
                   var x, y, i, valid = true;
                   x = document.getElementsByClassName("step");
                   y = x[currentTab].getElementsByTagName("input");

                   for (i = 0; i < y.length; i++) {
                     if (y[i].value == "") {
                       y[i].className += " invalid"; // 빈 필드에 "invalid" 클래스를 추가하여 사용자에게 알립니다.
                       valid = false;
                     }
                   }

                   if (valid) {
                     var stepIndicators = document.getElementsByClassName("stepIndicator");
                     stepIndicators[currentTab].className += " finish"; // 유효한 데이터가 입력되면 해당 단계를 완료로 표시합니다.
                   }
                   return valid;
                 }

                 function fixStepIndicator(n) {
                   var i, x = document.getElementsByClassName("stepIndicator");
                   for (i = 0; i < x.length; i++) {
                     x[i].className = x[i].className.replace(" active", ""); // 모든 단계에서 "active" 클래스를 제거합니다.
                   }
                   x[n].className += " active"; // 현재 단계에 "active" 클래스를 추가하여 활성화된 단계를 표시합니다.
                 }

    </script>
    <script th:src="@{/js/member/AgreenAuth.js}"></script>
    <!--<script th:src="@{/js/member/educatorSido.js}"></script>-->
    <!--<script src="/js/member/AgreenAuth.js"></script>-->
    <script src="/js/member/educatorSido.js"></script>



</div> <!-- layout -->
</html>