<!--이 파일을 복사하여 templates/본인기능폴더 하위에 추가하여 작업해주세요-->
<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<div layout:fragment="content" class="container my-3">
    <!-- bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- 약관내용 스타일 적용 -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/member/joinForm.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/member/login.css}">
<!--    <div class="row">-->
<!--        &lt;!&ndash;<div th:replace="~{각페이지에맞는사이드바파일경로::sidebar}"></div>&ndash;&gt;-->
<!--        <div th:replace="~{/member/memberSidebar::sidebar}"></div> &lt;!&ndash;테스트 사이드바 경로를 넣어놓음&ndash;&gt;-->

<!--        <div style="border: 1px solid black;" class="col-10"> &lt;!&ndash;class에서 col-10은 빼면 안됨&ndash;&gt;-->
            <!-- 맡은 기능 구현 하시면 됩니다! -->
            <div class="d-flex justify-content-center align-items-center mt-5">
                <div class="row">
                    <!-- Pills navs -->
                    <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="tab-login" data-bs-toggle="pill" href="#pills-login" role="tab"
                               aria-controls="pills-login" aria-selected="true">로그인</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="tab-register" data-bs-toggle="pill" href="#pills-register" role="tab"
                               aria-controls="pills-register" aria-selected="false">회원가입</a>
                        </li>
                    </ul>
                    <!-- Pills navs -->

                    <!-- Pills content -->
                    <div class="tab-content" id="pills-tabContent">


                        <!-- 로그인 영역 -->
                        <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
                            <form id="loginForm"  th:action="@{/member/login}" th:object="${loginValidation}" method="post">
                                <!-- ID input -->
                                <div class="form-outline mb-4">
                                    <input type="text" name="memberId" id="memberId" class="form-control" placeholder="아이디" required />
                                    <label class="form-label" for="memberId"></label>
                                </div>

                                <!-- Password input -->
                                <div class="form-outline mb-4">
                                    <input type="password" name="password" id="loginPassword" class="form-control" placeholder="비밀번호" required/>
                                    <label class="form-label" for="loginPassword"></label>
                                </div>

                                <!-- 오류시 보여주는 문구 -->
                                <div th:if="${param.error}">
                                    <div class="alert alert-danger">
                                        사용자ID 또는 비밀번호를 확인해주세요.
                                    </div>
                                </div>

                                <!-- 2 column grid layout -->
                                <div class="row mb-4">
                                    <div class="col-md-6 d-flex justify-content-center">
                                        <!-- Checkbox -->
                                        <div class="form-check mb-3 mb-md-0">
                                            <input class="form-check-input" type="checkbox" value="" id="loginCheck" checked />
                                            <label class="form-check-label" for="loginCheck"> 로그인 정보 저장 </label>
                                        </div>
                                    </div>

                                    <div class="col-md-6 d-flex justify-content-center">
                                        <!-- Simple link -->
                                        <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/member/idpwSearch}">아이디 / 비밀번호 찾기
                                        </a>
                                    </div>
                                </div>

                                <!-- Submit button -->
                                <button id=loginbtn type="submit" class="btn btn-primary btn-block mb-4">로그인하기</button>

                                <!-- Register buttons -->
                                <div class="text-center">
                                    <p>회원이 아니신가요? <a href="#pills-register" id="registerLink">회원가입하기</a></p>
                                </div>
                            </form>
                        </div><!-- tab-pane -->

                        <!-- 회원가입 영역 -->
                        <div class="tab-pane fade" id="pills-register" role="tabpanel" aria-labelledby="tab-register">
                            <form id="signUpForm"  th:action="@{/member/join}" th:object="${userCreateForm}" method="post">

                                <!-- start step indicators -->
                                <div class="form-header d-flex mb-4">
                                    <span class="stepIndicator">회원유형 선택</span>
                                    <span class="stepIndicator">약관동의 및 본인인증</span>
                                    <span class="stepIndicator">개인 정보 입력</span>
                                </div>
                                <!-- end step indicators -->

                                <!-- step0 : 회원가입 구분-->
                                <div class="step">
                                    <div class="row">
                                        <div class="col-12">

                                            <p class="text-center mb-4"><strong>가입 유형을 선택해주세요</strong></p>
                                            <!-- 회원 구분 드롭다운 -->
                                            <div class="mb-3">
                                                <label for="role" class="form-label"></label>
                                                <select class="form-select" id="role" name="role">
                                                    <option value="EDUCATOR">교육자</option>
                                                    <option value="STUDENT">학습자</option>
                                                    <option value="NORMAL">일반인</option>
                                                    <option value="ADMIN">운영자</option>
                                                </select>
                                            </div>
                                        </div> <!--col-12 -->
                                    </div> <!--step0_row-->
                                </div> <!--step0 끝 -->

                                <!-- step1: 약관동의 및 본인인증 -->
                                <div class="step">
                                    <div class="row">
                                        <p class="text-center mt-4"><strong>약관에 동의해주세요</strong><br><span class="text-secondary" style="font-size: smaller;">* 체크박스를 클릭하면 약관 상세내용을 확인할 수 있습니다</span></p>
                                            <div class="mb-3">
                                                <!-- 전체 동의 -->
                                                <div class="form-check">
                                                    <div class="row">
                                                        <div class="col-1">
                                                            <input class="form-check-input" type="checkbox" id="checkAll">
                                                        </div>
                                                        <div class="col-11">
                                                            <label class="form-check-label" for="checkAll">전체 동의</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- 이용 약관 -->
                                                <div class="agreement form-check">
                                                    <div class="row">
                                                        <div class="col-1">
                                                            <input class="form-check-input" type="checkbox" id="agreement1" required>
                                                        </div>
                                                        <div class="col-11">
                                                            <label class="form-check-label" for="agreement1">이용 약관 <span class="text-danger" style="font-size: smaller;">*필수</span></label>
                                                            <div class="details">
                                                                <p>이용 약관 상세 내용...</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- 개인정보 필수항목에 대한 처리 및 이용 -->
                                                <div class="agreement form-check">
                                                    <div class="row">
                                                        <div class="col-1">
                                                            <input class="form-check-input" type="checkbox" id="agreement2" required>
                                                        </div>
                                                        <div class="col-11">
                                                            <label class="form-check-label" for="agreement2">개인정보 필수항목에 대한 처리 및 이용 <span class="text-danger" style="font-size: smaller;">*필수</span></label>
                                                            <div class="details">
                                                                <p>개인정보 선택항목 처리 및 이용 상세 내용...</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- 개인정보 선택항목에 대한 처리 및 이용 -->
                                                <div class="agreement form-check">
                                                    <div class="row">
                                                        <div class="col-1">
                                                            <input class="form-check-input" name="privacyConsent" type="checkbox" id="agreement3">
                                                        </div>
                                                        <div class="col-11">
                                                            <label class="form-check-label" for="agreement3">개인정보 선택항목에 대한 처리 및 이용 <span class="text-secondary" style="font-size: smaller;">선택</span></label>
                                                            <div class="details">
                                                                <p>개인정보 선택항목에 대한 처리 및 이용 ...</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- 개인정보 마케팅 및 광고 활용 -->
                                                <div class="agreement form-check">
                                                    <div class="row">
                                                        <div class="col-1">
                                                            <input class="form-check-input" type="checkbox" id="agreement4">
                                                        </div>
                                                        <div class="col-11">
                                                            <label class="form-check-label" for="agreement4">개인정보 마케팅 및 광고 활용 <span class="text-secondary" style="font-size: smaller;">선택</span></label>
                                                            <div class="details">
                                                                <P>개인정보 마케팅 및 광고 활용 상세 내용...</P>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- 개인정보의 위탁 -->
                                                <div class="agreement form-check">
                                                    <div class="row">
                                                        <div class="col-1">
                                                            <input class="form-check-input" type="checkbox" id="agreement5" required>
                                                        </div>
                                                        <div class="col-11">
                                                            <label class="form-check-label" for="agreement5" >개인정보의 위탁 <span class="text-danger" style="font-size: smaller;"> *필수</span></label>
                                                            <div class="details">
                                                                <P> 개인정보의 위탁 내용...</P>
                                                            </div>
                                                        </div>
                                                    </div> <!--step1: row -->
                                                </div>
                                            </div> <!-- mb-3 -->

                                        <!-- 본인 인증하기 -->
                                        <div class="mt-4" id="authStep">
                                            <div class="authMember">
                                                <p class="text-center mb-4"><strong>인증 방식을 선택하세요</strong><br><span class="text-secondary" style="font-size: smaller;">* 이용약관 필수 항목에 동의하셔야 본인인증이 가능합니다</br></span></p>
                                                    <!-- 본인인증 방법 선택 -->
                                                    <div class="auth-selector mb-3">
                                                        <button id="phoneButton" name="authMethod" onclick="toggleAuthMethod('phone')" class="btn btn-outline-success" disabled>휴대폰 본인인증</button>
                                                        <button id="emailButton"  name="authMethod" onclick="toggleAuthMethod('email')" class="btn btn-outline-success" disabled>이메일 본인인증</button>
                                                    </div>
                                                    <!-- 휴대폰으로 인증 폼 -->
                                                    <div class="authForm" id="phoneForm" style="display:none;">
                                                        <div class="mb-3">
                                                            <label for="memName" class="form-label">이름</label>
                                                            <input type="text" class="form-control" placeholder="이름" name="memName" id="memName" oninput="validateName('memName', 'name-error-message')" required />
                                                            <span class="error-message" id="name-error-message"></span>
                                                        </div>
                                                        <div class="mb-2">
                                                            <label for="to" class="form-label">휴대폰 번호</label>
                                                            <input type="tel" class="form-control" name="to" placeholder="본인 휴대폰번호를 입력하세요" id="to" oninput="validatePhoneNumberAndFormat(this)" required />
                                                            <span class="error-message" id="phone-error-message"></span>
                                                        </div>
                                                        <button class="btn btn-outline-secondary" onclick="sendVerificationCode()" id="phoneSendBtn" disabled>발송</button>
                                                        <!-- 인증 코드 입력 폼 -->
                                                        <div class="mt-4" id="verifyStep">
                                                            <!-- 인증 코드 입력란 -->
                                                            <input type="text" class="form-control" placeholder="인증 코드 입력" id="phoneVerificationCode" oninput="validateVerificationCode(this, document.getElementById('phone-verification-code-error-message'), document.getElementById('verifyPhoneBtn'))" required>
                                                            <span class="error-message" id="phone-verification-code-error-message"></span>
                                                            <button class="btn btn-outline-secondary mt-2" onclick="verifyCode()" id="verifyPhoneBtn" disabled>확인</button>
                                                        </div>
                                                    </div>
                                                    <!-- 이메일로 인증 폼 -->
                                                    <div class="authForm" id="emailForm" style="display: none;">
                                                        <div class="mb-3">
                                                            <label for="emailName" class="form-label">이름</label>
                                                            <input type="text" class="form-control" placeholder="이름" name="emailName" id="emailName" oninput="validateName('emailName', 'email-name-error-message')" required />
                                                            <span class="error-message" id="email-name-error-message"></span>
                                                        </div>
                                                        <div class="mb-2">
                                                            <label for="valiEmail" class="form-label">이메일</label>
                                                            <input type="email" class="form-control" name="valiEmail" placeholder="본인 이메일을 입력하세요" id="valiEmail" oninput="validateEmailAdressFormat(this)" required />
                                                            <span class="error-message" id="email-error-message"></span>
                                                        </div>
                                                        <button class="btn btn-outline-secondary" onclick="sendEmailVerificationCode()" id="sendEmailBtn" disabled>발송</button>
                                                        <!-- 추가: 인증 번호 입력 및 확인 버튼 -->
                                                        <div class="mt-4" id="verifyEmailStep">
                                                            <input type="text" class="form-control" placeholder="인증 코드 입력" id="emailVerificationCode" oninput="validateVerificationCode(this, document.getElementById('email-verification-code-error-message'), document.getElementById('verifyEmailBtn'))" required>
                                                            <span class="error-message" id="email-verification-code-error-message"></span>
                                                            <button class="btn btn-outline-secondary mt-2" onclick="verifyEmailCode()" id="verifyEmailBtn" disabled>확인</button>
                                                        </div>
                                                    </div>
                                                </div> <!-- authMember 끝 -->
                                            </div> <!-- authStep: mt-4 끝 -->
                                        </div> <!-- step1 row-->
                                    </div><!-- step1끝 -->

                                <!-- step 2: 개인정보 입력 -->
                                <div class="step" id="lastStepForm">
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="text-center mt-4"> 개인정보를 입력해주세요</p>

                                            <!-- 이름 불러오기 -->
<!--                                            <div id="verificationSuccess" style="display: none;">-->
                                                <div class="mb-3">
                                                    <label for="userName" class="form-label">이름</label>
                                                    <input type="text" name="name" id="userName"  class="form-control" >
                                                </div>
                                                <div class="mb-3">
                                                    <label for="userPhoneInput" class="form-label">휴대폰 번호</label>
                                                    <input type="text" id="userPhoneInput" class="form-control" name="tel" >
                                                </div>
<!--                                            </div>-->
                                            <!-- 아이디 입력란 -->
                                            <div class="mb-3">
                                                <label for="memberIdInput" class="form-label">아이디</label>
                                                <div class="input-group">
                                                    <input type="text" th:field="*{memberId}" placeholder="영문 또는 영문,숫자 조합으로 입력하세요" oninput="this.className = ''" class="form-control" id="memberIdInput" name="memberIdInput" required>
                                                    <div class="input-group-append">
                                                        <button type="button" class="btn btn-primary" id="chechMemberId">ID 중복 확인</button>
                                                    </div>
                                                </div>
                                                <span class="error-message" id="memberId-duplication-error-message"></span>
                                            </div>
                                            <!-- 비밀번호 입력란 -->
                                            <div class="mb-3">
                                                <label for="password" class="form-label">비밀번호</label>
                                                <input type="password" th:field="*{pwd1}" placeholder="6자리이상,숫자, 문자, 특수문자 각각 1개 이상 포함" autocomplete="new-password" oninput="this.className = ''" class="form-control" id="password" name="password"  required >
                                            </div>
                                                <span th:if="${#fields.hasErrors('pwd1')}" th:errors="*{pwd1}" class="error-message text-danger"></span>
                                            <!-- 비밀번호 확인 입력란 -->
                                            <div class="mb-3">
                                                <label for="confirmPassword" class="form-label">비밀번호 확인</label>
                                                <input type="password" th:field="*{pwd2}" placeholder="비밀번호와 일치하게 입력하세요" autocomplete="new-password"    oninput="this.className = ''" class="form-control" id="confirmPassword" name="confirmPassword"  required>
                                            </div>
                                                <span th:if="${#fields.hasErrors('pwd2')}" th:errors="*{pwd2}" class="error-message text-danger"></span>
                                                <span th:if="${passwordMismatch}" class="error-message text-danger">비밀번호가 일치하지 않습니다.</span>

                                            <!-- 생년월일 입력란 -->
                                            <div class="mb-3">
                                                <label for="birth" class="form-label">생년월일</label>
                                                <input type="date" th:field="*{birth}" oninput="this.className = ''" class="form-control" id="birth" name="birth"   required>
                                                <span th:if="${#fields.hasErrors('birth')}" th:errors="*{birth}" class="error-message text-danger"></span>
                                            </div>

                                            <!-- 이메일 주소 입력란 -->
                                            <div class="mb-3">
                                                <label for="email" class="form-label">이메일 주소</label>
                                                <input type="email"  th:field="*{email}" placeholder="12345@gmail.com" oninput="this.className = ''" class="form-control" id="emailInput" name="email"  required>
                                                <span th:if="${emailDuplicate}" class="error-message text-danger">이 이메일을 이미 사용중인 아이디가 있습니다.</span>
                                            </div>

                                            <!-- 성별 -->
                                            <div class="mb-3">
                                                <div class="gender d-flex justify-content-start">
                                                    <label class="form-label">성별</label>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" th:field="*{gender}" th:value="M" type="radio" name="gender" id="male" >
                                                        <label class="form-check-label" for="male">남성</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" th:field="*{gender}" th:value="F" type="radio" name="gender" id="female" >
                                                        <label class="form-check-label" for="female">여성</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <span th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" class="error-message text-danger"></span>
                                            <!-- 수신동의 (이메일 및 SMS 중 선택) -->
                                            <div class="mb-3">
                                                <label class="form-label d-flex align-items-center">수신 동의 </label>
                                                <p>: 이벤트, 커리큘럼, 신규 콘텐츠 등 광고 메시지 수신</p>

                                                <div class="d-flex">
                                                    <div class="form-check me-3">
                                                        <input class="form-check-input" th:field="*{emailConsent}" type="checkbox" id="emailConsent" name="emailConsent" th:value="1">
                                                        <label class="form-check-label" for="emailConsent">이메일</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" th:field="*{smsConsent}" type="checkbox" id="smsConsent" name="smsConsent" th:value="1">
                                                        <label class="form-check-label" for="smsConsent">SMS</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- 개인 정보 입력 부분 (교육자만 표시) -->

                                            <div class="row" id="educatorInfo" style="display: none;">
                                                <hr/>
                                                <div class="col-md-12">
                                                    <div class="mb-3">
                                                        <label for="schoolName">소속 학원명:</label>
                                                        <input type="text"  th:field="*{schoolName}" id="schoolName" name="schoolName" class="form-control">
                                                        <span th:if="${#fields.hasErrors('schoolName')}" th:errors="*{schoolName}" class="error-message text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label for="sido">시도:</label>
                                                        <select id="sido" name="sido" class="form-control">
                                                            <option value="" selected disabled>시도 선택</option>
                                                            <!-- 시도 옵션들을 여기에 추가 -->
                                                        </select>
                                                        <span th:if="${#fields.hasErrors('sido')}" th:errors="*{sido}" class="error-message text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label for="sigungu">시군구:</label>
                                                        <select id="sigungu" name="sigungu" class="form-control">
                                                            <option value="" selected disabled>시군구 선택</option>
                                                            <!-- 시군구 옵션들을 여기에 추가 -->
                                                        </select>
                                                        <span th:if="${#fields.hasErrors('sigungu')}" th:errors="*{sigungu}" class="error-message text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> <!-- step2_col12끝 -->
                                    </div><!-- step2_row끝 -->
                                </div> <!-- step2_끝 -->

                                <!-- start previous / next buttons -->
                                <div class="form-footer d-flex">
                                    <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                                    <button type="button" id="nextBtn" onclick="nextPrev(1); ">Next</button>
                                </div>

                            </form> <!-- SingUpform 형식 끝 -->
                        </div> <!-- 2번째 tab-pane fade -->
                    </div> <!-- tab-content -->
                </div> <!-- tab_row -->
            </div> <!-- dflex -->
<!--        </div> &lt;!&ndash; border : col-10 메인 내용 &ndash;&gt;-->
<!--    </div> &lt;!&ndash; row &ndash;&gt;-->

    <script th:src="@{/js/member/multistepForm.js}"></script>
    <script th:src="@{/js/member/joinValidation.js}"></script>
    <script th:src="@{/js/member/AgreenAuth.js}"></script>
    <script src="/js/member/educatorSido.js"></script>



</div> <!-- layout -->
</html>