<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<div layout:fragment="content" class="container my-3">
  <link rel="stylesheet" href="/css/game/list.css" />
  <div class="row">
    <!--<div th:replace="~{각페이지에맞는사이드바파일경로::sidebar}"></div>-->
    <div th:replace="~{/test/testSidebar::sidebar}"></div> <!--테스트 사이드바 경로를 넣어놓음-->
    <div style="border: 1px solid black;" class="col-10"> <!--class에서 col-10은 빼면 안됨-->

   <!-- <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="/css/game/cyborg.vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/css/game/cyborg/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/css/game/cyborg/assets/css/templatemo-cyborg-gaming.css">
    <link rel="stylesheet" href="/css/game/cyborg/assets/css/owl.css">
    <link rel="stylesheet" href="/css/game/cyborg/assets/css/animate.css">
    <link rel="stylesheet"href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
<!--

TemplateMo 579 Cyborg Gaming

https://templatemo.com/tm-579-cyborg-gaming

-->


  <!-- ***** Preloader Start ***** -->

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content">

          <!-- ***** Featured Games Start ***** -->
          <div class="row">
            <div class="col-lg-8">
              <div class="featured-games header-text">
                <div class="heading-section">
                  <h4><em>이달의 게임</em></h4>
                </div>
                <div class="owl-features owl-carousel">
                  <div class="item">
                      <img src="/css/game/cyborg/assets/images/baduk.png" alt="">
                      <div class="hover-effect">
                        <h6>2.4K Streaming</h6>
                    </div>
                    <h4>CS-GO<br><span>249K Downloads</span></h4>
                    <ul>
                      <li><i class="fa fa-star"></i> 4.8</li>
                      <li><i class="fa fa-download"></i> 2.3M</li>
                    </ul>
                  </div>
                  <div class="item">
                    <img src="/css/game/cyborg/assets/images/baduk.png" alt="">
                    <div class="hover-effect">
                      <h6>2.4K Streaming</h6>
                    </div>
                    <h4>CS-GO<br><span>249K Downloads</span></h4>
                    <ul>
                      <li><i class="fa fa-star"></i> 4.8</li>
                      <li><i class="fa fa-download"></i> 2.3M</li>
                    </ul>
                  </div>
                  <!--<div class="item">
                    <div class="thumb">
                      <img src="/css/game/cyborg/assets/images/featured-02.jpg" alt="">
                      <div class="hover-effect">
                        <h6>2.4K Streaming</h6>
                      </div>
                    </div>
                    <h4>Gamezer<br><span>249K Downloads</span></h4>
                    <ul>
                      <li><i class="fa fa-star"></i> 4.8</li>
                      <li><i class="fa fa-download"></i> 2.3M</li>
                    </ul>
                  </div>
                  <div class="item">
                    <div class="thumb">
                      <img src="/css/game/cyborg/assets/images/featured-03.jpg" alt="">
                      <div class="hover-effect">
                        <h6>2.4K Streaming</h6>
                      </div>
                    </div>
                    <h4>Island Rusty<br><span>249K Downloads</span></h4>
                    <ul>
                      <li><i class="fa fa-star"></i> 4.8</li>
                      <li><i class="fa fa-download"></i> 2.3M</li>
                    </ul>
                  </div>
                  <div class="item">
                    <div class="thumb">
                      <img src="/css/game/cyborg/assets/images/featured-01.jpg" alt="">
                      <div class="hover-effect">
                        <h6>2.4K Streaming</h6>
                      </div>
                    </div>
                    <h4>CS-GO<br><span>249K Downloads</span></h4>
                    <ul>
                      <li><i class="fa fa-star"></i> 4.8</li>
                      <li><i class="fa fa-download"></i> 2.3M</li>
                    </ul>
                  </div>
                  <div class="item">
                    <div class="thumb">
                      <img src="/css/game/cyborg/assets/images/featured-02.jpg" alt="">
                      <div class="hover-effect">
                        <h6>2.4K Streaming</h6>
                      </div>
                    </div>
                    <h4>Gamezer<br><span>249K Downloads</span></h4>
                    <ul>
                      <li><i class="fa fa-star"></i> 4.8</li>
                      <li><i class="fa fa-download"></i> 2.3M</li>
                    </ul>
                  </div>
                  <div class="item">
                    <div class="thumb">
                      <img src="/css/game/cyborg/assets/images/featured-03.jpg" alt="">
                      <div class="hover-effect">
                        <h6>2.4K Streaming</h6>
                      </div>
                    </div>
                    <h4>Island Rusty<br><span>249K Downloads</span></h4>
                    <ul>
                      <li><i class="fa fa-star"></i> 4.8</li>
                      <li><i class="fa fa-download"></i> 2.3M</li>
                    </ul>
                  </div>-->
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="top-streamers">
                <div class="heading-section">
                  <h4><em>Top</em> Streamers</h4>
                </div>
                <ul>
                  <li>
                    <span>01</span>
                    <img src="/css/game/cyborg/assets/images/avatar-01.jpg" alt="" style="max-width: 46px; border-radius: 50%; margin-right: 15px;">
                    <h6><i class="fa fa-check"></i> LahutaM</h6>
                    <div class="main-button">
                      <a href="#">Follow</a>
                    </div>
                  </li>
                  <li>
                    <span>02</span>
                    <img src="/css/game/cyborg/assets/images/avatar-02.jpg" alt="" style="max-width: 46px; border-radius: 50%; margin-right: 15px;">
                    <h6><i class="fa fa-check"></i> Kengan</h6>
                    <div class="main-button">
                      <a href="#">Follow</a>
                    </div>
                  </li>
                  <li>
                    <span>03</span>
                    <img src="/css/game/cyborg/assets/images/avatar-03.jpg" alt="" style="max-width: 46px; border-radius: 50%; margin-right: 15px;">
                    <h6><i class="fa fa-check"></i> Areluwa</h6>
                    <div class="main-button">
                      <a href="#">Follow</a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- ***** Featured Games End ***** -->
          <div class="gaming-library">
            <div class="col-lg-12">
              <div class="heading-section">
                <h4><em>게임 콘텐츠</em> Library</h4>
              </div>
              <form id="nadopayment" class="my-2" th:action="@{|/payments/paymentsform|}" method="post">
                <div class="card-deck">
                  <div th:each="game : ${gamePage.content}" class="card mb-3" style="height: 200px;">
                    <div class="row g-0">
                      <div class="col-md-4" style="height: 200px;">
                        <img th:if="${game != null and game.gameContentFilesList != null and not #lists.isEmpty(game.gameContentFilesList)}"
                             th:src="@{|/upload/game/${game.gameContentFilesList[0].copyFileName}|}"
                             alt="게임 이미지" class="card-img" style="width: 100%; height: 100%; object-fit: cover;">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body d-flex justify-content-between align-items-center">
                          <div class="col-lg-10">
                            <h5 class="nado-card-title" th:text="${game.gameName}"></h5>
                            <p class="card-text" th:text="${game.difficulty}"></p>
                            <p class="card-text"><strong>구독기간:</strong> <span th:text="${game.subscriptionDuration}"></span></p>
                            <p class="card-text"><strong>판매가:</strong> <span id="nado-salePrice" th:text="${game.salePrice}"></span></p>
                            <p class="card-text"><strong>내용:</strong> <span th:text="${game.packageDetails}"></span></p>
                          </div>
                          <div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="gameContentNo" id="flexCheckInline" th:value="${game.gameContentNo}">
                            <label class="form-check-label" for="flexCheckInline"></label>
                          </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
                <div class="col-lg-12">
                  <div class="main-button">
                    <a href="profile.html">View Your Library</a>
                  </div>
                </div>


        </div>
    </div>
  </div>
    </div>
    </div>

    <div class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom" style="border-radius: 10px; width: 67%; height: 60px; margin-top: 0px; margin-right: 300px !important; margin-bottom: 0px; text-align: center; margin-left: 350px !important;">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
      <span>
        <img src="/image/game/icon-cart.png" style="width: 30px !important;">
        <span style="margin-right: 20px;">총: <span id="totalItems">건</span></span>
        <span style="margin-left: 30px !important;">합계: <span id="totalPrice">원</span></span>
      </span>
        </div>
        <span>
          <button type="submit" class="btn btn-outline-warning">구독하기</button>
        </span>
        </form>
      </div>
    </div>


  </div>

    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="/css/game/cyborg.vendor/jquery/jquery.min.js"></script>
    <script src="/css/game/cyborg.vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="/css/game/cyborg/assets/js/isotope.min.js"></script>
    <script src="/css/game/cyborg/assets/js/owl-carousel.js"></script>
    <script src="/css/game/cyborg/assets/js/tabs.js"></script>
    <script src="/css/game/cyborg/assets/js/popup.js"></script>
    <script src="/css/game/cyborg/assets/js/custom.js"></script>

<!--
    <script>
      var checkboxes = document.querySelectorAll('input[type="checkbox"]');

      checkboxes.forEach(function (checkbox) {
        checkbox.addEventListener('change', function () {
          var selectedGameContentNos = [];
          checkboxes.forEach(function (cb) {
            if (cb.checked) {
              selectedGameContentNos.push(cb.value);
            }
          });

          console.log("Selected Game Content Nos:", selectedGameContentNos);
        });
      });
    </script>
-->
    <script>

      var checkboxes = document.querySelectorAll('input[type="checkbox"]');
      var totalPriceElement = document.getElementById("totalPrice"); // 합계를 표시할 요소
      var totalItemsElement = document.getElementById("totalItems"); // 선택한 항목의 수를 표시할 요소
      var nadoSalePriceElement = document.getElementById("nado-salePrice"); // Sale Price element

      checkboxes.forEach(function (checkbox) {
          checkbox.addEventListener('change', function () {
              var selectedValues = [];
              checkboxes.forEach(function (checkbox) {
                  if (checkbox.checked) {
                      var priceElement = checkbox.closest(".card").querySelector("#nado-salePrice");
                      if (priceElement) {
                          selectedValues.push(parseFloat(priceElement.textContent));
                      }
                  }
              });

              // Calculate the total in JavaScript
              var total = selectedValues.reduce(function (accumulator, currentValue) {
                  return accumulator + currentValue;
              }, 0);

              // Update the displayed total
              if (totalPriceElement) {
                  totalPriceElement.innerText = total + " 원";
              }

              // Update the displayed number of selected items
              if (totalItemsElement) {
                  totalItemsElement.innerText = selectedValues.length + " 건";
              }

              if (checkbox.checked) {
                  alert("상품이 선택되었습니다.");
              } else {
                  alert("상품이 취소되었습니다.");
              }
          });
      });

    </script>





  </div>
</html>
