<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content" class="container my-3">
    <div class="row">
        <div th:replace="~{/studyGroup/testSidebar::sidebar}"></div> <!--테스트 사이드바 경로를 넣어놓음-->

        <div style="border: 1px solid black;" class="col-10"> <!--class에서 col-10은 빼면 안됨-->
            <!-- 맡은 기능 구현 하시면 됩니다! -->
            <h3>[학습 그룹 등록]</h3>
            <div style="display: flex; align-items: center;">
                <label for="selectGameContent" class="form-label" style="margin-right: 10px;">게임콘텐츠</label>
                <select name="selectGameContent" id="selectGameContent" class="form-select"  style="width: 200px; margin-right: 10px;">
                    <option value="">전체</option>
                    <option th:each="gameNameList : ${gameNameList}" th:value="${gameNameList.game_content_no}" th:text="${gameNameList.game_name}"></option>
                </select>
                <button id="searchButton" class="btn btn-outline-primary">조회하기</button>
            </div>
            <p/>
            <div>
                <table class="table" id="selectGameResult">
                    <thead class="table-dark">
                    <tr>
                        <th>선택</th>
                        <th>게임콘텐츠명</th>
                        <th>학습시작일</th>
                        <th>학습종료일</th>
                        <th>학습 가능 인원</th>
                        <th>그룹 지정된 인원</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr  th:each="gameContents, loop : ${gameContents}">
                        <td>
                            <input type="checkbox" class="groupCheckbox" name="selectedGame" th:value="${gameContents.game_content_no}" />
                        </td>
                        <td th:text="${gameContents.game_name}"></td>
                        <td th:text="${#dates.format(gameContents.payment_date,'yyyy-MM-dd')}"></td>
                        <td th:text="${#dates.format(gameContents.subscription_end_date,'yyyy-MM-dd')}"></td>
                        <td th:text="${gameContents.max_subscribers}"></td>
                        <td th:text="${gameContents.appointed_group_num}"></td>
                    </tr>
                    </tbody>
                </table>
                <!--페이지네이션-->
                <div id="paginationContainer">
                    <nav th:if="${totalCount} > 0">
                        <ul class="pagination">
                            <li class="page-item" th:classappend="${currentPage == 1 ? 'disabled' : ''}">
                                <a class="page-link" th:href="@{/studygroup/gameList(page=${currentPage - 1})}">이전</a>
                            </li>
                            <li class="page-item" th:each="i : ${#numbers.sequence(1, totalPages)}" th:classappend="${i == currentPage ? 'active' : ''}">
                                <a class="page-link" th:href="@{/studygroup/gameList(page=${i})}" th:text="${i}"></a>
                            </li>
                            <li class="page-item" th:classappend="${currentPage == totalPages ? 'disabled' : ''}">
                                <a class="page-link" th:href="@{/studygroup/gameList(page=${currentPage + 1})}">다음</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div style="display: flex; justify-content: center; align-items: center;">
                    <button id="viewButton" class="btn btn-outline-primary">학습 그룹 상세 입력</button>
                </div>
            </div>
            <p/>
        </div>
    </div>
</div>
</html>
<script>
//----학습 그룹 상세 입력----
document.addEventListener("DOMContentLoaded", function () {
    // 조회 버튼 클릭 시
    document.getElementById("viewButton").addEventListener("click", function () {
        var selectedGameContentNo = null;

        // 선택된 체크박스 찾기
        var checkboxes = document.querySelectorAll(".groupCheckbox");
        checkboxes.forEach(function (checkbox) {
            if (checkbox.checked) {
                selectedGameContentNo = checkbox.value;
                return; // 첫 번째 선택된 체크박스만 처리
            }
        });
        if (selectedGameContentNo !== null) {
             var selectedCheckbox = document.querySelector('input[name="selectedGame"]:checked');
                if (selectedCheckbox) {
                var selectedGameRow = selectedCheckbox.closest("tr");
                var maxSubscribers = selectedGameRow.querySelector('td:nth-child(5)').textContent;
                var appointedGroupNum = selectedGameRow.querySelector('td:nth-child(6)').textContent;

                if (maxSubscribers === appointedGroupNum) {
                    alert("만들 수 있는 학습그룹 인원이 없습니다.");
                    window.location.href = "/studygroup/gameList";
                }else{
                // 선택된 게임콘텐츠 번호를 사용하여 링크로 이동
                window.location.href = "/studygroup/add/" + selectedGameContentNo;
                }
            } else {
            alert("게임콘텐츠를 선택해주세요.");
            }
        } else {
            alert("게임콘텐츠를 선택해주세요.");
        }
    });

    // 체크박스 클릭 시 다른 체크박스의 선택을 해제
    var checkboxes = document.querySelectorAll(".groupCheckbox");
    checkboxes.forEach(function (checkbox) {
        checkbox.addEventListener("click", function () {
            if (this.checked) {
                // 다른 체크박스 선택 해제
                checkboxes.forEach(function (otherCheckbox) {
                    if (otherCheckbox !== checkbox) {
                        otherCheckbox.checked = false;
                    }
                });
            }else {
            // 선택 해제된 체크박스는 다시 선택되지 않도록 설정
            this.checked = true;
        }
        });
    });
});


/*
    //-----게임콘텐츠 조회 버튼-------
    document.addEventListener("DOMContentLoaded", function () {
        // 조회하기 버튼 찾기
        var searchButton = document.getElementById("searchButton");

        // 결과를 표시할 엘리먼트 찾기
        var selectGroupResult = document.getElementById("selectGameResult");

        // 조회하기 버튼 클릭 시
        searchButton.addEventListener("click", function () {
            var selectedGameContentNo = document.getElementById("selectGameContent").value;

            if (selectedGameContentNo !== "") {
                // 새로운 XMLHttpRequest 객체 생성
                var xhr = new XMLHttpRequest();

                // GET 요청 설정
                xhr.open('GET', '/studygroup/gameListEndpoint?game_content_no=' + selectedGameContentNo, true);

                // 요청 완료 시 실행할 함수 설정
                xhr.onload = function () {
                    if (xhr.status === 200) {
                         try {
                            //console.log(xhr.responseText);
                            var responseData = JSON.parse(xhr.responseText);
                            // 이제 responseData 변수에 JSON 데이터가 들어 있습니다.

                            // 처리할 작업을 수행합니다.
                            console.log(responseData);

                            // 표시할 데이터를 가져와서 HTML에 적용
                          var resultHTML = "";
                          if (responseData && responseData.length > 0) {
                                resultHTML = "<table class='table' id='selectGroupResult'>";
                                resultHTML += "<thead class='table-dark'>";
                                resultHTML += "<tr>";
                                resultHTML += "<th>선택</th>";
                                resultHTML += "<th>게임콘텐츠명</th>";
                                resultHTML += "<th>학습 시작일</th>";
                                resultHTML += "<th>학습 종료일</th>";
                                resultHTML += "<th>학습 가능 인원</th>";
                                resultHTML += "<th>그룹 지정된 인원</th>";
                                // 다른 헤더 열 추가
                                resultHTML += "</tr>";
                                resultHTML += "</thead>";
                                resultHTML += "<tbody>";

                                responseData.forEach(function (gameContents) {
                                resultHTML += "<tr>";
                                resultHTML += "<td>";
                                resultHTML += "<input type='checkbox' class='groupCheckbox' name='selectedGame' value='" + gameContents.game_content_no + "' />";
                                resultHTML += "</td>";
                                resultHTML += "<td>" + gameContents.game_name + "</td>";

                                var originalDate = new Date(gameContents.payment_date);
                                var formattedDate = originalDate.getFullYear() + '-' + ('0' + (originalDate.getMonth() + 1)).slice(-2) + '-' + ('0' + originalDate.getDate()).slice(-2);
                                resultHTML += "<td>" + formattedDate + "</td>";

                                var originalDate = new Date(gameContents.subscription_end_date);
                                var formattedDate = originalDate.getFullYear() + '-' + ('0' + (originalDate.getMonth() + 1)).slice(-2) + '-' + ('0' + originalDate.getDate()).slice(-2);
                                resultHTML += "<td>" + formattedDate + "</td>";

                                resultHTML += "<td>" + gameContents.max_subscribers + "</td>";
                                resultHTML += "<td>" + gameContents.appointed_group_num + "</td>";
                                    // 다른 열 추가
                                    resultHTML += "</tr>";
                                });

                                resultHTML += "</tbody>";
                                resultHTML += "</table>";
                            } else {
                                resultHTML = "<p>선택한 게임콘텐츠의 정보가 없습니다.</p>";
                            }

                            // 결과 엘리먼트에 HTML 추가
                            selectGroupResult.innerHTML = resultHTML;
                        } catch (e) {
                            console.error('JSON 파싱 오류:', e);
                        }
                    } else {
                        // 요청이 실패한 경우 오류 처리
                        console.error('Ajax 요청 오류: ' + xhr.status);
                    }
                };

                // 요청 보내기
                xhr.send();
            } else {
                 window.location.href = "/studygroup/gameList";
                //alert("게임콘텐츠를 선택하세요.");
            }
        });
    });*/


// 조회 후 페이지네이션 포함
    document.addEventListener("DOMContentLoaded", function () {

  // 조회하기 버튼 찾기
  var searchButton = document.getElementById("searchButton");

  // 결과를 표시할 엘리먼트 찾기
  var selectGroupResult = document.getElementById("selectGameResult");

  // 조회하기 버튼 클릭 시
  searchButton.addEventListener("click", function () {
    var selectedGameContentNo = document.getElementById("selectGameContent").value;

    if (selectedGameContentNo !== "") {
      fetch('/studygroup/gameListEndpoint?game_content_no=' + selectedGameContentNo)
        .then(response => response.json())
        .then(data => {
          // 표시할 데이터를 가져와서 HTML에 적용
          updateGameList(data);
          console.log('data',data);
          currentPage = data.currentPage;
          totalPages = data.totalPages;


          // 페이지네이션 UI 생성
          var paginationContainer = document.getElementById("paginationContainer");
          paginationContainer.innerHTML = createPaginationUI(data.currentPage, data.totalPages);

          function addEventListeners() {
          // 각 페이지 번호 버튼에 이벤트 리스너 추가
          var pageButtons = paginationContainer.querySelectorAll(".page-link");
          pageButtons.forEach(function (button) {
            button.addEventListener("click", function () {
             event.preventDefault(); // 기본 동작 방지

             // 'disabled' 클래스가 있으면 아무것도 하지 않기
            if (button.parentElement.classList.contains('disabled')) return;

               // 페이지 번호를 버튼에서 읽어와 사용
              var pageNum = button.getAttribute("data-page");
              fetch('/studygroup/gameListEndpoint?game_content_no=' + selectedGameContentNo + '&page=' + pageNum)
                .then(response => response.json())
                .then(data =>{
                currentPage = data.currentPage;
                totalPages = data.totalPages;
                updateGameList(data);

                // 데이터 로딩 후에도 체크박스 선택 해제 로직 적용
                //applyCheckboxLogic();
                // 페이지네이션 UI 업데이트
                paginationContainer.innerHTML = createPaginationUI(currentPage, totalPages);

                // 새롭게 생성된 버튼들에 대한 이벤트 리스너 재설정
                addEventListeners();


               });
            });
          });
        }
        // 초기 로드 시 한번 실행
        addEventListeners();
       });
    } else {
      window.location.href = "/studygroup/gameList";
    }
   });

     function updateGameList(data) {
     console.log('data2',data);
         var resultHTML = "";
         if (data && data.gameContents.length > 0) {
           resultHTML += "<table class='table' id='selectGroupResult'>";
           resultHTML += "<thead class='table-dark'>";
           resultHTML += "<tr>";
           resultHTML += "<th>선택</th>";
           resultHTML += "<th>게임콘텐츠명</th>";
           resultHTML += "<th>학습 시작일</th>";
           resultHTML += "<th>학습 종료일</th>";
           resultHTML += "<th>학습 가능 인원</th>";
           resultHTML += "<th>그룹 지정된 인원</th>";
           resultHTML += "</tr>";
           resultHTML += "</thead>";


           // data.gameContents로 루프 돌기
            data.gameContents.forEach(function (gameContents) {
               resultHTML += '<tbody>';
               resultHTML += '<tr>';
               resultHTML += '<td>';
               resultHTML += '<input type="checkbox" class="groupCheckbox" name="selectedGame" value="' + gameContents.game_content_no + '" />';
               resultHTML += '</td>';
               resultHTML += '<td>' + gameContents.game_name + '</td>';

               var originalDate = new Date(gameContents.payment_date);
               var formattedDate = originalDate.getFullYear() + '-' + ('0' + (originalDate.getMonth() + 1)).slice(-2) + '-' + ('0' + originalDate.getDate()).slice(-2);
               resultHTML += '<td>' + formattedDate + '</td>';

               var originalDate = new Date(gameContents.subscription_end_date);
               var formattedDate = originalDate.getFullYear() + '-' + ('0' + (originalDate.getMonth() + 1)).slice(-2) + '-' + ('0' + originalDate.getDate()).slice(-2);
               resultHTML += '<td>' + formattedDate + '</td>';

               resultHTML += '<td>' + gameContents.max_subscribers + '</td>';
               resultHTML += '<td>' + gameContents.appointed_group_num + '</td>';
               resultHTML += '</tr>';
               resultHTML += '</tbody>';
               });
               resultHTML += "</table>";

         } else {
           resultHTML = "<p>선택한 게임콘텐츠의 정보가 없습니다.</p>"
         }

         selectGroupResult.innerHTML = resultHTML;

         var checkboxes = document.querySelectorAll(".groupCheckbox");
            checkboxes.forEach(function (checkbox) {
                checkbox.addEventListener("click", function () {
                    if (this.checked) {
                        // 다른 체크박스 선택 해제
                        checkboxes.forEach(function (otherCheckbox) {
                            if (otherCheckbox !== checkbox) {
                                otherCheckbox.checked = false;
                            }
                        });
                    }
                });
            });
       }

       function createPageButtons(currentPage, totalPages) {
          var html = '';
          for (var i = 1; i <= totalPages; i++) {
            html += '<li class="page-item ' + (i === currentPage ? 'active' : '') + '">';
            html += '<a class="page-link page-button" href="#" data-page="' + i + '">' + i + '</a>';
            html += '</li>';
          }
          return html;
        }

        function createPaginationUI(currentPage, totalPages) {
          var html = '<nav><ul class="pagination">';
          // 이전 버튼 생성
          html += '<li class="page-item ' + (currentPage === 1 ? 'disabled' : '') + '">';
          html += '<a class="page-link" href="#" data-page="' + (currentPage - 1) + '">이전</a>';
          html += '</li>';

          // 페이지 번호 버튼 생성
          html += createPageButtons(currentPage, totalPages);

          // 다음 버튼 생성
          html += '<li class="page-item ' + (currentPage === totalPages ? 'disabled' : '') + '">';
          html += '<a class="page-link" href="#" data-page="' + (currentPage + 1) + '">다음</a>';
          html += '</li>';

          return html;
        }

    });

</script>