<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<form th:if="${not #maps.isEmpty( params.data )}" id="redirectForm" th:action="${params.redirectUri}" th:method="${params.method}" style="display: none;">
    <input th:each="key, status : ${params.data.keySet()}" type="hidden" th:name="${key}" th:value="${params.data.get(key)}" />
</form>

<script th:inline="javascript">
    /* <![CDATA[ */

        window.onload = () => {
            const message = [[ ${params.message} ]];
            if (message) {
                alert(message);
            } //controller에서 전달받은 message가 있는 경우, 사용자에게 alert 메시지를 보여줌.

            const form = document.getElementById('redirectForm');
            if (form) {
                form.submit();
                return false;
            }

            const redirectUri = [[ ${params.redirectUri} ]];
            location.href = redirectUri;
        }

    /* ]]> */
</script>
</body>
</html>