<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content" class="container my-3">
    <div class="row">
        <div th:replace="~{/studyGroup/testSidebar::sidebar}"></div> <!--테스트 사이드바 경로를 넣어놓음-->

        <div style="border: 0px solid black;" class="col-10"> <!--class에서 col-10은 빼면 안됨-->
            <!-- 맡은 기능 구현 하시면 됩니다! -->
            <br/>
            <p/>
            <h2>학습 그룹 조회</h2>
            <p/>
            <br/>
            <div>
                <div style="display: flex; align-items: center;">
                    <label for="selectSudyGroup" class="form-label" style="margin-right: 10px;">학습그룹:</label>
                    <select name="selectSudyGroup" id="selectSudyGroup" class="form-select" style="width: 200px; margin-right: 10px;">
                        <option value="">전체</option>
                        <option th:each="groupNameList : ${groupNameList}" th:value="${groupNameList.group_no}" th:text="${groupNameList.group_name}"></option>
                    </select>
                    <button id="searchButton" class="btn btn-outline-primary" style="margin-right: 30px;">조회하기</button>
                    <button id="modifyButton" class="btn btn-outline-secondary" style="margin-left: auto; margin-right: 10px;">변경하기</button>
                    <button id="deleteButton" class="btn btn-outline-secondary" style="margin-right: 10px;">삭제하기</button>
                </div>
                <p/>
                <table class="table" id="selectGroupResult">
                    <thead class="table-dark">
                    <tr>
                        <th>선택</th>
                        <th>학습그룹명</th>
                        <th>게임콘텐츠명</th>
                        <th>그룹T/O</th>
                        <th>학습 구독 기간</th>
                        <!--<th>그룹 시작일</th>
                        <th>그룹 종료일</th>-->
                        <th>등록 학생수</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="studyGroup, loop : ${studyGroup}">
                        <td>
                            <input type="checkbox" class="groupCheckbox" name="selectedGroup" th:value="${studyGroup.group_no}"
                                   th:attr="data-payment-no=${studyGroup.payment_no}"/>
                        </td>
                        <td th:text="${studyGroup.group_name}"></td>
                        <td th:text="${studyGroup.game_name}"></td>
                        <td th:text="${studyGroup.group_TO}"></td>
                        <td>
                            <span th:text="${#dates.format(studyGroup.group_start_date,'yyyy-MM-dd')}"></span>
                            ~
                            <span th:text="${#dates.format(studyGroup.group_finish_date,'yyyy-MM-dd')}"></span>
                        </td>
                        <!--<td th:text="${#dates.format(studyGroup.group_start_date,'yyyy-MM-dd')}"></td>
                        <td th:text="${#dates.format(studyGroup.group_finish_date,'yyyy-MM-dd')}"></td>-->
                        <td th:text="${studyGroup.approved_num}"></td>
                    </tr>
                    </tbody>
                </table>
                <div style="display: flex; justify-content: right; align-items: center;">
                    <button id="viewButton" class="btn btn-outline-primary">학습 그룹 상세 조회 하기</button>
                </div>
                <!--페이지네이션-->
                <div id="paginationContainer" style="display: flex; justify-content: center; align-items: center;">
                    <nav th:if="${totalCount} > 0">
                        <ul class="pagination">
                            <li class="page-item" th:classappend="${currentPage == 1 ? 'disabled' : ''}">
                                <a class="page-link" th:href="@{/studygroup/list(page=${currentPage - 1})}">이전</a>
                            </li>
                            <li class="page-item" th:each="i : ${#numbers.sequence(1, totalPages)}" th:classappend="${i == currentPage ? 'active' : ''}">
                                <a class="page-link" th:href="@{/studygroup/list(page=${i})}" th:text="${i}"></a>
                            </li>
                            <li class="page-item" th:classappend="${currentPage == totalPages ? 'disabled' : ''}">
                                <a class="page-link" th:href="@{/studygroup/list(page=${currentPage + 1})}">다음</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <p/>
        </div>
    </div>
</div>

</html>
<script>
//---학습그룹 상세조회하기----
document.addEventListener("DOMContentLoaded", function () {
    // 학습 그룹 상세 조회 버튼 클릭 시
    document.getElementById("viewButton").addEventListener("click", function () {
        var selectedGroupNo = null;

        // 선택된 체크박스 찾기
        var checkboxes = document.querySelectorAll(".groupCheckbox");
        checkboxes.forEach(function (checkbox) {
            if (checkbox.checked) {
                selectedGroupNo = checkbox.value;
                return; // 첫 번째 선택된 체크박스만 처리
            }
        });

        if (selectedGroupNo !== null) {
            // 선택된 그룹 번호를 사용하여 링크로 이동
            window.location.href = "/studygroup/detail/" + selectedGroupNo;
        } else {
            alert("그룹을 선택하세요.");
        }
    });


    // 체크박스 클릭 시 다른 체크박스의 선택을 해제
    var checkboxes = document.querySelectorAll(".groupCheckbox");
    checkboxes.forEach(function (checkbox) {
        checkbox.addEventListener("click", function () {
            if (this.checked) {
                // 다른 체크박스 선택 해제
                checkboxes.forEach(function (otherCheckbox) {
                    if (otherCheckbox !== checkbox) {
                        otherCheckbox.checked = false;
                    }
                });
            }
        });
    });

});


//---학습그룹 삭제하기----
    document.addEventListener("DOMContentLoaded", function () {
 // 삭제 버튼 클릭 시
    document.getElementById("deleteButton").addEventListener("click", function () {
        var selectedGroupNo = null;

        // 선택된 체크박스 찾기
        var checkboxes = document.querySelectorAll(".groupCheckbox");
        checkboxes.forEach(function (checkbox) {
            if (checkbox.checked) {
                selectedGroupNo = checkbox.value;
                return; // 첫 번째 선택된 체크박스만 처리
            }
        });

         if (selectedGroupNo !== null) {
            // 사용자에게 삭제 여부 확인
            var selectedGroupCheckbox = document.querySelector("input[name='selectedGroup'][value='" + selectedGroupNo + "']");
            var approvedNum = parseInt(selectedGroupCheckbox.parentNode.nextElementSibling.nextElementSibling.nextElementSibling.nextElementSibling.nextElementSibling.nextElementSibling.textContent);
            console.log("approvedNum:", approvedNum);
            //var approvedNum = parseInt(document.querySelector("input[name='selectedGroup'][value='" + selectedGroupNo + "']").parentNode.nextElementSibling.nextElementSibling.nextElementSibling.nextElementSibling.nextElementSibling.textContent);
            if (approvedNum !== 0) {
                            alert("그룹에 등록된 학생이 있어 삭제할 수 없습니다.");
            }else{
                if (confirm("정말로 이 그룹을 삭제하시겠습니까?")) {
                    // 선택된 그룹 번호를 사용하여 링크로 이동
                    window.location.href = "/studygroup/delete/" + selectedGroupNo;
                }
            }
        } else {
            alert("그룹을 선택하세요.");
        }
    });

     // 체크박스 클릭 시 다른 체크박스의 선택을 해제
    var checkboxes = document.querySelectorAll(".groupCheckbox");
    checkboxes.forEach(function (checkbox) {
        checkbox.addEventListener("click", function () {
            if (this.checked) {
                // 다른 체크박스 선택 해제
                checkboxes.forEach(function (otherCheckbox) {
                    if (otherCheckbox !== checkbox) {
                        otherCheckbox.checked = false;
                    }
                });
            }
        });
    });

});


//---학습그룹 수정하기----
    document.addEventListener("DOMContentLoaded", function () {
    // 수정 버튼 클릭 시
    document.getElementById("modifyButton").addEventListener("click", function () {
        var selectedGroupNo = null;
        var selectedPaymentNo = null;

        // 선택된 체크박스 찾기
        var checkboxes = document.querySelectorAll(".groupCheckbox");
        checkboxes.forEach(function (checkbox) {
            if (checkbox.checked) {
                selectedGroupNo = checkbox.value;
                selectedPaymentNo = checkbox.getAttribute("data-payment-no");
                return; // 첫 번째 선택된 체크박스만 처리
            }
        });

        if (selectedGroupNo !== null) {
            // 선택된 그룹 번호를 사용하여 링크로 이동
            window.location.href = "/studygroup/modify/" + selectedGroupNo + "/" + selectedPaymentNo;
        } else {
            alert("그룹을 선택하세요.");
        }
    });


    // 체크박스 클릭 시 다른 체크박스의 선택을 해제
    var checkboxes = document.querySelectorAll(".groupCheckbox");
    checkboxes.forEach(function (checkbox) {
        checkbox.addEventListener("click", function () {
            if (this.checked) {
                // 다른 체크박스 선택 해제
                checkboxes.forEach(function (otherCheckbox) {
                    if (otherCheckbox !== checkbox) {
                        otherCheckbox.checked = false;
                    }
                });
            }
        });
    });
});


//---학습그룹 리스트 조회 버튼----
document.addEventListener("DOMContentLoaded", function () {
    // 페이지네이션 컨테이너 찾기
    var paginationContainer = document.getElementById("paginationContainer");
    //var paginationContainer = "";

    //paginationContainer.style.display = "block";

    // 조회하기 버튼 찾기
    var searchButton = document.getElementById("searchButton");

    // 결과를 표시할 엘리먼트 찾기
    var selectGroupResult = document.getElementById("selectGroupResult");

    // 조회하기 버튼 클릭 시
    searchButton.addEventListener("click", function () {
        var selectedGroupNo = document.getElementById("selectSudyGroup").value;
        //var selectedPaymentNo = document.getElementById("selectedPaymentNo").value;

        if (selectedGroupNo !== "") {
            // 새로운 XMLHttpRequest 객체 생성
            var xhr = new XMLHttpRequest();

            // GET 요청 설정
            xhr.open('GET', '/studygroup/listEndpoint?group_no=' + selectedGroupNo, true);

            // 요청 완료 시 실행할 함수 설정
            xhr.onload = function () {
                if (xhr.status === 200) {
                     try {
                        //console.log(xhr.responseText);
                        var responseData = JSON.parse(xhr.responseText);
                        // 이제 responseData 변수에 JSON 데이터가 들어 있습니다.

                        // 처리할 작업을 수행합니다.
                        console.log(responseData);

                        // 페이지네이션 컨테이너 숨기기
                        paginationContainer.style.display = "none";

                        // 표시할 데이터를 가져와서 HTML에 적용
                          var resultHTML = "";
                          if (responseData && responseData.length > 0) {
                                resultHTML = "<table class='table' id='selectGroupResult'>";
                                resultHTML += "<thead class='table-dark'>";
                                resultHTML += "<tr>";
                                resultHTML += "<th>선택</th>";
                                resultHTML += "<th>학습그룹명</th>";
                                resultHTML += "<th>게임콘텐츠명</th>";
                                resultHTML += "<th>그룹T/O</th>";
                                resultHTML += "<th>그룹 시작일</th>";
                                resultHTML += "<th>그룹 종료일</th>";
                                resultHTML += "<th>등록 학생수</th>";
                                // 다른 헤더 열 추가
                                resultHTML += "</tr>";
                                resultHTML += "</thead>";
                                resultHTML += "<tbody>";

                                responseData.forEach(function (group) {
                                resultHTML += "<tr>";
                                resultHTML += "<td>";
                                resultHTML += "<input type='checkbox' class='groupCheckbox' name='selectedGroup' value='" + group.group_no + "'  data-payment-no='" + group.payment_no + "'/>";
                                resultHTML += "</td>";
                                resultHTML += "<td>" + group.group_name + "</td>";
                                resultHTML += "<td>" + group.game_name + "</td>";
                                resultHTML += "<td>" + group.group_TO + "</td>";
                                //resultHTML += "<td>" + ${#dates.format(group.group_start_date,'yyyy-MM-dd')} + "</td>";
                                var originalDate = new Date(group.group_start_date);
                                var formattedDate = originalDate.getFullYear() + '-' + ('0' + (originalDate.getMonth() + 1)).slice(-2) + '-' + ('0' + originalDate.getDate()).slice(-2);
                                resultHTML += "<td>" + formattedDate + "</td>";

                                //resultHTML += "<td>" + group.group_finish_date + "</td>";
                                var originalDate = new Date(group.group_finish_date);
                                var formattedDate = originalDate.getFullYear() + '-' + ('0' + (originalDate.getMonth() + 1)).slice(-2) + '-' + ('0' + originalDate.getDate()).slice(-2);
                                resultHTML += "<td>" + formattedDate + "</td>";

                                resultHTML += "<td>" + group.approved_num + "</td>";
                                    // 다른 열 추가
                                    resultHTML += "</tr>";
                                });

                                resultHTML += "</tbody>";
                                resultHTML += "</table>";
                        } else {
                            resultHTML = "<p>선택한 그룹의 정보가 없습니다.</p>";
                        }

                        // 결과 엘리먼트에 HTML 추가
                        selectGroupResult.innerHTML = resultHTML;
                    } catch (e) {
                        console.error('JSON 파싱 오류:', e);
                    }
                } else {
                    // 요청이 실패한 경우 오류 처리
                    console.error('Ajax 요청 오류: ' + xhr.status);
                }
            };

            // 요청 보내기
            xhr.send();
        } else {
             window.location.href = "/studygroup/list";
            //alert("학습 그룹을 선택하세요.");
        }
    });
});



</script>

