<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org" xmlns:div="http://www.w3.org/1999/html">
<div layout:fragment="content" class="container my-3">
    <link rel="stylesheet" href="/css/studyGroup/table.css"/>
    <style>
        /* 표의 값들을 가운데 정렬하는 CSS 스타일 */
        .a td,
        .a th {
            text-align: center;
        }
    </style>
    <div class="row">
        <div th:replace="~{/studyGroup/studentSidebar::sidebar}"></div> <!--테스트 사이드바 경로를 넣어놓음-->

        <div style="border: 0px solid black;" class="col-10"> <!--class에서 col-10은 빼면 안됨-->
            <!-- 맡은 기능 구현 하시면 됩니다! -->
            <br/>
            <h2>학습 그룹 가입 확인</h2>
            <br/>
            <table class="a">
                <thead>
                <tr>
                    <th>선택</th>
                    <th>학습그룹명</th>
                    <th>교육자명</th>
                    <th>학습 구독 기간</th>
                    <th>가입 요청일</th>
                    <th>가입 승인일</th>
                    <th>승인여부</th>
                </tr>
                </thead>
                <tbody>
                <p th:if="${joinConfirm != null}">게임콘텐츠명 : <strong><span th:text="${joinConfirm.game_name}"></span></strong></p>
                <th:block th:if="${joinConfirm != null and  #lists.size(joinConfirm) > 0}">
                    <tr th:each="joinConfirm, loop : ${joinConfirm}">
                        <td>
                            <input type="checkbox" class="groupCheckbox" name="selectedStudentGroup" th:value="${joinConfirm.group_students_no}" />
                        </td>
                        <td th:text="${joinConfirm.group_name}"></td>
                        <td th:text="${joinConfirm.name}"></td>
                        <td>
                            <span th:text="${#dates.format(joinConfirm.group_start_date,'yyyy-MM-dd')}"></span>
                            ~
                            <span th:text="${#dates.format(joinConfirm.group_finish_date,'yyyy-MM-dd')}"></span>
                        </td>
                        <td th:text="${#dates.format(joinConfirm.application_date,'yyyy-MM-dd')}"></td>
                        <td th:text="${#dates.format(joinConfirm.approved_date,'yyyy-MM-dd')}"></td>
                        <td th:text="${joinConfirm.is_approved ? 'O' : 'X'}"></td><!--true이면 'O'가 출력, false이면 'X'가 출력-->
                    </tr>
                </th:block>
                <th:block th:unless="${joinConfirm != null and #lists.size(joinConfirm) > 0}">
                    <tr>
                        <td colspan="7">가입된 학습 그룹이 없습니다.</td>
                    </tr>
                </th:block>
                </tbody>
            </table>
            <br/>
            <div th:if="${joinConfirm != null}">
                <div style="display: flex; justify-content: center; align-items: center;">
                    <input id="cancelButton" type="submit" value="학습 그룹 가입 취소" class="btn btn-outline-secondary"/>
                </div>
            </div>


            <br/>
            <br/>
            <br/>
            <br/>
            <h2>학습 그룹 가입 이력</h2>
            <br/>
            <table class="a">
                <thead>
                <tr>
                    <th>학습그룹명</th>
                    <th>게임콘텐츠명</th>
                    <th>교육자명</th>
                    <th>학습 구독 기간</th>
                    <th>가입 요청일</th>
                    <th>가입 승인일</th>
                    <th>승인여부</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:if="${joinRecord != null and joinRecord.size() > 0}">
                    <tr th:each="joinRecord, loop : ${joinRecord}">
                        <td th:text="${joinRecord.group_name}"></td>
                        <td th:text="${joinRecord.game_name}"></td>
                        <td th:text="${joinRecord.name}"></td>
                        <td>
                            <span th:text="${#dates.format(joinRecord.group_start_date,'yyyy-MM-dd')}"></span>
                            ~
                            <span th:text="${#dates.format(joinRecord.group_finish_date,'yyyy-MM-dd')}"></span>
                        </td>
                        <td th:text="${#dates.format(joinRecord.application_date,'yyyy-MM-dd')}"></td>
                        <td th:text="${#dates.format(joinRecord.approved_date,'yyyy-MM-dd')}"></td>
                        <td th:text="${joinRecord.is_approved ? 'O' : 'X'}"></td> <!--true이면 'O'가 출력, false이면 'X'가 출력-->
                    </tr>
                </th:block>
                <th:block th:unless="${joinRecord != null and joinRecord.size() > 0}">
                    <tr>
                        <td colspan="7">가입된 학습 그룹 이력이 없습니다.</td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>
</html>
<script>
//---학습그룹 가입 취소----
 document.addEventListener("DOMContentLoaded", function () {
        var cancelButton = document.getElementById("cancelButton");
        cancelButton.addEventListener("click", function () {
            var selectedCheckboxes = document.querySelectorAll(".groupCheckbox:checked");
            var selectedGroupStudentsNo = [];

            if (selectedCheckboxes.length > 0) {
                var isApproved = false;
                for (var i = 0; i < selectedCheckboxes.length; i++) {
                    var checkbox = selectedCheckboxes[i];
                    var groupStudentNo = checkbox.getAttribute("value"); // 체크박스에서 값 가져오기
                    selectedGroupStudentsNo.push(groupStudentNo);

                    //isApproved가 true이면 가입 취소 불가
                    var rowIndex = checkbox.closest("tr").rowIndex;
                    var isApprovedValue = document.querySelector("table").rows[rowIndex].cells[6].textContent; // 6은 joinConfirm.is_approved에 해당하는 셀 인덱스
                    if (isApprovedValue === 'O') {
                        isApproved = true;
                        break;
                    }
                }

                if (isApproved) {
                    alert("가입 승인이 되어 가입 취소를 할 수 없습니다.");
                } else {
                    var confirmCancel = confirm("정말로 학습 그룹 가입을 취소하시겠습니까?");
                    if (confirmCancel) {
                         window.location.href ="/studygroup/cancel/" + selectedGroupStudentsNo;
                    }
                }
            } else {
                alert("선택된 항목이 없습니다.");
            }
        });
    });

</script>