body {
  background-color: #F9F7F7; /*#838383;*/
}
a{
  color: #101010;
}

.pagination {
  --bs-pagination-color: #f7c523;
  --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(236, 211, 69, 0.25);
  --bs-pagination-active-color: #fff;
  --bs-pagination-active-bg: #f7c523;
  --bs-pagination-active-border-color: #f7c523;
  --bs-pagination-hover-color: #886d17;
  --bs-pagination-focus-color: #886d17;
}

ul.sub-menu{
    border-radius: 10px;
}

.header-area {
    background-color: #70ad47;
}
