<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>이용약관</title>
</head>
<body>
<pre>
    1. 이용목적 및 정의

1.1 본 웹사이트는 바둑 교육을 목적으로 하며, 회원들 간의 학습 그룹 형성, 숙제 배포 및 제출, 그리고 평가를 위한 서비스를 제공합니다.

1.2 "회원"이라 함은 본 웹사이트에 가입하여 서비스를 이용하는 개인 또는 단체를 의미합니다.

2. 이용계약의 성립

2.1 본 웹사이트의 서비스 이용을 위해서는 회원 가입이 필요하며, 회원은 본 이용약관에 동의해야 합니다.

2.2 회원은 개인정보를 정확하게 입력하고 관리할 책임이 있으며, 만 14세 미만의 회원은 법정대리인의 동의를 받아야 합니다.

3. 이용자의 의무

3.1 회원은 제공된 서비스를 이용함에 있어 다른 회원의 권리를 존중하고, 본 웹사이트의 규정 및 관련 법률을 준수해야 합니다.

3.2 개인정보 보호를 위해 회원은 계정 및 비밀번호를 안전하게 관리해야 합니다.

4. 서비스 제공 및 변경

4.1 본 웹사이트는 회원 간의 학습 그룹 형성, 숙제 관리, 그리고 구독 서비스를 제공합니다.

4.2 서비스의 내용은 웹사이트 운영자의 판단에 따라 언제든지 변경될 수 있습니다.

5. 계정 및 개인정보

5.1 회원은 개인정보를 제공함으로써 본 웹사이트가 해당 정보를 수집, 저장, 처리하는 것에 동의합니다.

5.2 개인정보 보호 정책은 본 이용약관의 일부로 간주되며, 회원은 별도로 확인해야 합니다.

6. 지적재산권

6.1 본 웹사이트에서 제공되는 콘텐츠의 지적재산권은 웹사이트에 속합니다.

6.2 회원은 본 웹사이트에서 제공되는 콘텐츠를 본인의 학습 목적으로만 사용해야 합니다.

7. 면책조항

7.1 본 웹사이트는 서비스 제공과 관련하여 무료로 제공되는 서비스에 대한 책임을 지지 않습니다.

7.2 회원 간의 학습 그룹 및 숙제 관리와 관련하여 발생하는 분쟁은 회원 간에 해결되어야 합니다.

8. 결제 및 구독서비스

8.1 회원은 별도의 결제를 통해 구독서비스를 이용할 수 있으며, 해당 결제는 본 웹사이트에서 정한 절차에 따라 진행됩니다.

8.2 결제와 관련된 세부사항은 별도의 결제 정책에 따릅니다.

9. 분쟁해결 및 준거법

9.1 본 이용약관에서 정하지 않은 사항에 대한 해석 및 적용은 대한민국의 관련 법령 및 상관례에 따릅니다.

9.2 회원 간의 분쟁이 발생한 경우, 웹사이트 운영자와 상의하여 해결해야 합니다.

</pre>
</body>
</html>