        #hw-homeworkDetailModal {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000;
            background-color: white;
            border: 1px solid #ccc;
            padding: 20px;
        }
        #hw-backdrop {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 900;
            background-color: rgba(128,128,128,0.5);
        }
        #hw-pagination {
            display: flex;
            justify-content: center;
            margin-top: 10px;
        }

        .hw-page-number {
            margin: 0 5px;
            cursor: pointer;
        }

        .hw-page-number.active {
            font-weight: bold;
        }