/* 기본 표 스타일 */
.sendhwTable {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: 1px solid #d3d3d3;
    border-radius: 20px;
    background: rgba(255,255,255,0.9);
    overflow: hidden;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}


/* 표 내부 선 */
.sendhwTable td, .sendhwTable th {
    border: 1px solid #d3d3d3;
    padding: 8px 12px;
}

/* thead와 tbody 사이의 선 스타일 */
.sendhwTable thead th {
    border-bottom: 2px solid #d3d3d3;
}

/* thead 스타일 */
.sendhwTable thead {
    background-color: #f5f5f5;
}

.upperSection {
    background-color: #89c65d; /* 기본 색상 */
    background-image: linear-gradient(to bottom, #a8d96f, #9bce70); /* 상단은 하단색에 가깝게, 하단은 상단색에 가깝게 설정 */
    position: relative;
    padding-bottom: 20px; /* curveEffect와의 공백을 없애기 위해 추가 */
}

.lowerSection {
    background-color: #FFFAF0;
    position: relative;
    padding-top: 20px; /* curveEffect와의 공백을 없애기 위해 추가 */
}

.curveEffect {
    width: 220px;
    height: 55px; /* 높이를 조금 늘림 */
    position: absolute;
    bottom: -20px; /* 위치를 약간 아래로 조정 */
    left: 50%;
    transform: translateX(-50%);
    background-color: #9bce70; /* 원래의 배경색으로 복원 */
    border-radius: 50%; /* 원의 형태로 조절 */
    z-index: 1;
}
.center-icon {
    color: white; /* 아이콘 색상을 흰색으로 설정 */
    position: absolute; /* 절대 위치 */
    top: 50%; /* 상위 요소의 중앙에서 상단을 기준으로 위치 */
    left: 50%; /* 상위 요소의 중앙에서 왼쪽을 기준으로 위치 */
    transform: translate(-50%, -50%); /* 아이콘을 완전히 중앙에 위치시킵니다. */
    font-size: 24px; /* 아이콘 크기. 적당한 크기로 조절해주세요. */
}

//-----------------------------

/* 페이지네이션 스타일 */
#paginationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 뷰포트의 높이에 따라 */
}

#paginationContainer button {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    color: #495057;
    padding: 5px 10px;
    border-radius: 4px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

#paginationContainer button:hover {
    background-color: #e9ecef;
}

#paginationContainer button:disabled {
    background-color: #f8f9fa;
    color: #adb5bd;
    cursor: default;
}

/* 하단 테이블 스타일 */
.lowerSection table {
    width: 90%;  /* 상단 테이블보다 넓게 설정 */
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.lowerSection table td, table th {
    border: 1px solid #d3d3d3; /* 얇은 선으로 조정 */
    padding: 8px 12px;
}

.lowerSection table thead {
    background-color: #89c65d; /* 헤더 부분 초록색 배경 */
    border-bottom: 2px solid #d3d3d3; /* 두꺼운 선으로 th와 내용 부분 구분 */
    padding: 8px 12px;
}

.lowerSection table tbody {
    background-color: #ffffff; /* 내용 부분 흰색 배경 */
}

.lowerSection table td:nth-child(4),
.lowerSection table th:nth-child(4)
{
     border-right: 8px double #d3d3d3; /* 가운데 부분 구분선 */
}

.groupMessage {
    padding: 20px;
    background-color: transparent; /* 배경을 투명하게 변경 */
    font-size: 18px; /* 글자 크기 증가 */
    font-weight: bold; /* 글자를 굵게 */
    text-align: center; /* 텍스트 중앙 정렬 */
    color: #495057; /* 부트스트랩의 dark text color */
    margin-top: 20px; /* 위쪽 여백 */
    border: none; /* 테두리 제거 */
    display:none;
}

.groupMessage img {
    width: 15%; /* 이미지 넓이를 50%로 설정 */
    display: block; /* 이미지를 block 요소로 설정하여 중앙 정렬하기 쉽게 함 */
    margin: 10px auto; /* 위 아래 10px의 여백을 주고 좌우는 자동으로 설정하여 중앙 정렬 */
}

